.section-background {
    height: 160px;
    background: #F08A1C 0% 0% no-repeat padding-box;
    height: 250px;
    position: relative;
    margin-top: 55px;
    .dots-image {
        background-image: url("./images/Group\ 1296.png");
        background-position: 42% 64%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 70px;
        position: absolute;
        top: 100%;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.aclylic {
    margin-top: 55px;
}

.acrylic-container {
    .acrylic-paints {
        font-size: 24px;
        font-weight: 500;
        margin-top: 50px;
        color: #040404;
        line-height: 30px;
        letter-spacing: -0.48px;
    }
    .acrylic-desc p {
        line-height: 26px;
    }
    .show-products {
        padding: 20px;
        background-color: #F08A1C;
        color: #fff;
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 35px;
        display: inline-block;
        border-radius: 5px;
        min-width: 342px;
        text-align: center;
        line-height: 26px;
        letter-spacing: -0.48px;
    }
    .projects-title {
        border-top: 1px solid #a2a3a2;
        padding-top: 24px;
        font-size: 25px;
        line-height: 30px;
    }
    .projects-images {
        display: flex;
        flex-wrap: wrap;
    }
}

.dots-img-container {
    .Acrylic-background {
        display: inline-block;
        position: relative;
        margin-top: -100px;
        z-index: 2;
        margin-bottom: 0;
        top: -40px;
        left: -45px;
    }
    .Acrylic {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: -0.8px;
        color: #F08A1C;
    }
}

.projects-images {
    .product-img {
        margin-right: 10px;
        max-width: 162px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}

.project-all-project {
    background-color: #696969 !important;
}

.project-acrylic {
    background-color: #f08a1c !important;
}

.project-watercolour {
    background-color: #02adef !important;
}

.project-gouache {
    background-color: #0a4b91 !important;
}

.project-oil {
    background-color: #d92424 !important;
}

.project-drawing {
    background-color: #5b3d82 !important;
}

.project-acrylic-text {
    color: #f08a1c !important;
}

.project-watercolour-text {
    color: #02adef !important;
}

.project-gouache-text {
    color: #0a4b91 !important;
}

.project-oil-text {
    color: #d92424 !important;
}

.project-drawing-text {
    color: #5b3d82 !important;
}

@media (max-width:767px) {
    .images-container {
        display: none;
    }
    .arrow-image {
        display: none;
    }
    .black-dots {
        display: none;
    }
    .left-img {
        display: none;
    }
    .hero-section {
        overflow: hidden;
    }
    .down-arrow-container {
        display: none;
    }
}

@media (min-width:992px) {
    .aclylic {
        margin-top: 150px !important;
    }
    .acrylic-container {
        .acrylic-paints {
            font-size: 35px;
            margin-top: 0px;
            color: #040404;
            max-width: 530px;
            line-height: 40px;
            letter-spacing: -0.7px;
        }
        .acrylic-desc p {
            font-size: 16px;
            line-height: 26px;
            max-width: 477px;
        }
        .show-products {
            font-size: 24px;
            margin-bottom: 35px;
            padding-top: 15px;
            padding-bottom: 15px;
            line-height: 26px;
        }
        margin-bottom: 50px;
        .projects-title {
            font-size: 22px;
            border-top: 2px solid #a2a3a2;
            padding-top: 25px;
            line-height: 30px;
        }
        .projects-images {
            .product-img {
                max-width: 168px;
            }
            display: flex;
            flex-wrap: nowrap;
        }
    }
    .section-background {
        .dots-image {
            background-image: url("./images/Group\ 1296.png");
            background-position: 0% 64%;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100px;
            position: absolute;
            top: 100%;
            bottom: 0;
            left: 0;
            right: 0;
        }
        height: 250px;
        position: relative;
        margin-top: 150px;
    }
    .dots-img-container {
        .Acrylic-background {
            display: inline-block;
            position: relative;
            margin-top: -20px;
            z-index: 2;
            margin-bottom: 0;
            top: -73px;
            left: -30px;
        }
        .Acrylic {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            font-size: 40px;
            line-height: 60px;
            letter-spacing: -0.8px;
            // color: #F08A1C;
        }
    }
    .images-container {
        .second-image {
            position: absolute;
            top: 120px;
            left: 241px;
        }
        position: relative;
        margin-top: -300px;
        margin-left: 100px;
        .third-image {
            margin-top: 40px;
        }
    }
}