.campaign-hero-section {
    background-color: #0F4288;
    position: relative;
}

.button-images {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero-button {
    background-color: #02ADEF;
    border-radius: 4px;
    margin-top: 12px;
    display: inline-block;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    min-width: 166px;
    text-align: center;
}

.img-container {
    margin-top: 20px;
}

.titles-container {
    margin-top: 40px;
    margin-bottom: 55px;
}

.simply-title {
    font-size: 47px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.96px;
}

.simply-sub-title {
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
    letter-spacing: -0.48px;
    line-height: 30px;
}

.img-flip {
    display: flex;
}

.flip-image {
    max-width: 56%;
    position: relative;
    right: 30px;
}

.simply-description.col-10 {
    padding-left: 0px;
    font-size: 16px;
    color: #ffff;
    line-height: 26px;
}

.arrow-btn {
    position: absolute;
    bottom: -9px;
    left: 112px;
    max-width: 43%;
}

@media (min-width:991px) {
    /* .hero-section {
        overflow: hidden;
    } */
    .button-images {
        display: block;
        padding-bottom: 160px;
    }
    .btn-container {
        margin-top: 41px;
    }
    .hero-button {
        margin-right: 10px;
        padding: 7px;
        min-width: 135px;
    }
    .simply-title {
        font-size: 60px;
        line-height: 60px;
        letter-spacing: -1.2px;
    }
    .simply-sub-title {
        max-width: 540px;
        font-size: 35px;
        letter-spacing: -0.7px;
        line-height: 40px;
    }
    .simply-description {
        max-width: 477px;
    }
    .flip-image {
        position: absolute;
        top: -420px;
        max-width: 75%;
        right: -305px;
        z-index: 99999;
    }
    .titles-container {
        margin-bottom: 80px;
    }
    .arrow-btn {
        left: 42%;
    }
}


/* ///////////////////////////////////////////////////////////////////////////////// acylric////////////////////////////////// */

.section-background {
    height: 160px;
    background: #F08A1C 0% 0% no-repeat padding-box;
}

.dots-image {
    background-image: url("./images/Group\ 1296.png");
    background-position: 0% 64%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.aclylic {
    margin-top: 55px;
}

.acrylic-paints {
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    color: #040404;
    line-height: 30px;
    letter-spacing: -0.48px;
}

.dots-image {
    background-image: url("./images/Group\ 1296.png");
    background-position: 0% 64%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: absolute;
    top: 58%;
    bottom: 0;
    left: 0;
    right: 0;
}

.section-background {
    height: 250px;
    position: relative;
}

.Acrylic-background {
    display: inline-block;
    position: relative;
    margin-top: -100px;
    z-index: 2;
    margin-bottom: 0;
    top: -40px;
    left: -76px;
}

.Acrylic {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.8px;
    color: #F08A1C;
}

.acrylic-desc {
    line-height: 26px;
}


/* 
.acrylic-container {
    padding-left: 0;
    padding-right: 0;
} */

.show-products {
    padding: 20px;
    background-color: #F08A1C;
    color: #fff;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 35px;
    display: inline-block;
    border-radius: 5px;
    min-width: 342px;
    text-align: center;
    line-height: 26px;
    letter-spacing: -0.48px;
}

.projects-title {
    border-top: 1px solid #a2a3a2;
    padding-top: 24px;
    font-size: 25px;
    line-height: 30px;
}

.product-img {
    margin-right: 10px;
    max-width: 162px;
    padding-bottom: 10px;
}

.projects-images {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .images-container {
        display: none;
    }
    .arrow-image {
        display: none;
    }
    .black-dots {
        display: none;
    }
    .left-img {
        display: none;
    }
    .hero-section {
        overflow: hidden;
    }
    .down-arrow-container {
        display: none;
    }
}

@media (min-width:991px) {
    .aclylic {
        margin-top: 150px !important;
    }
    .acrylic-paints {
        font-size: 35px;
        margin-top: 0px;
        color: #040404;
        max-width: 530px;
        line-height: 40px;
        letter-spacing: -0.7px;
    }
    .acrylic-desc {
        font-size: 16px;
        line-height: 26px;
        max-width: 477px;
    }
    .dots-image {
        background-image: url("./images/Group\ 1296.png");
        background-position: 0% 64%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        position: absolute;
        top: 100%;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .section-background {
        height: 250px;
        position: relative;
    }
    .Acrylic-background {
        display: inline-block;
        position: relative;
        margin-top: -20px;
        z-index: 2;
        margin-bottom: 0;
        top: -73px;
    }
    .Acrylic {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: -0.8px;
        color: #F08A1C;
    }
    .show-products {
        font-size: 24px;
        margin-bottom: 35px;
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 26px;
    }
    .acrylic-container {
        margin-bottom: 50px;
    }
    .second-image {
        position: absolute;
        top: 120px;
        left: 241px;
    }
    .images-container {
        position: relative;
        margin-top: -300px;
    }
    .third-image {
        margin-top: 40px;
    }
    .projects-title {
        font-size: 22px;
        border-top: 2px solid #a2a3a2;
        padding-top: 25px;
        line-height: 30px;
    }
    .product-img {
        max-width: 168px;
    }
    .projects-images {
        display: flex;
        flex-wrap: nowrap;
    }
}


/* /////////////////////////////////////////////////////////// about simply section /////////////////////////////////////////////////////////// */

.about-simply-container {
    background-color: #a2a3a2;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.about-title {
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: -0.96px;
    margin-top: 40px;
}

.about-simply-description-mobile {
    padding-top: 25px;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.48px;
}

.about-simply-description-desktop {
    display: none;
}

.visit-simply-description {
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 26px;
}

.about-simply-btn {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #0a4b91;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.about-simly-section {
    margin-top: 40px;
}

@media (min-width:991px) {
    .about-simply-container {
        padding-top: 170px;
    }
    .about-simply-description-desktop {
        font-size: 35px;
        color: #fff;
        margin-left: 48px;
        display: block;
        letter-spacing: -0.7px;
        line-height: 40px;
        margin-top: 20px;
    }
    .about-simply-description-mobile {
        display: none;
    }
    .about-simply-title {
        margin-top: 25px;
    }
    .about-title {
        margin-left: 62px;
        font-size: 60px;
        letter-spacing: -1.2px;
        line-height: 60px;
    }
    .visit-simply-description {
        max-width: 477px;
        line-height: 26px;
    }
    .about-simply-btn {
        max-width: 319px !important;
        font-size: 23px;
        margin-bottom: 80px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 18px;
        padding-right: 18px;
    }
    .arrow-image {
        margin-left: 40px;
    }
    .black-dots {
        position: relative;
        bottom: 76px;
        left: -100px;
    }
}


/* ////////////////////////////////////////////////////////// simply project //////////////////////////////////////////////////////// */

.simply-project-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #a2a3a2;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 7px;
    padding: 41px 0px;
    margin-bottom: 34px;
    margin-top: 43px;
}

.simply-project-title {
    font-size: 48px;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.96px;
    margin-top: 30px;
}

.simply-project-sub-title {
    font-size: 24px;
    color: #fff;
    /* margin-left: 15px; */
    /* margin-right: 15px; */
    line-height: 30px;
    letter-spacing: -0.48px;
}

.simply-project-description {
    color: #fff;
    /* margin-left: 15px;
    margin-right: 15px; */
    line-height: 26px;
}

.projects {
    border: #F5F5F5;
    padding: 10px;
    min-width: 320px;
    border-radius: 6px;
}

.select-project-title {
    font-size: 22px;
    color: #030209;
    margin-bottom: 20px;
    letter-spacing: -0.48px;
}

.card-title {
    font-size: 25px;
    color: #000000;
    margin-top: 17px;
    line-height: 30px;
}

.card-image {
    margin-top: 32px;
}

.card-description {
    color: #000;
    font-size: 17px;
    letter-spacing: -0.36px;
    line-height: 26px;
}

.card-button {
    padding: 7px;
    background-color: #02ADEF;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}

@media (min-width:991px) {
    .down-arrow-container {
        display: flex;
        justify-content: right;
        align-items: end;
    }
    .select-project {
        margin-right: -55px;
    }
    .select-project-title {
        font-size: 33px;
        color: #030209;
        margin-bottom: 20px;
        letter-spacing: -0.66px;
    }
    .card-button {
        padding: 7px;
    }
    .simply-project-container {
        max-width: 812px;
        margin-left: -43px;
        margin-top: 131px;
        position: relative;
        z-index: 2;
    }
    .simply-project-header {
        padding-left: 49px;
    }
    .simply-project-title {
        font-size: 60px;
        letter-spacing: -1.2px;
        margin-top: 20px;
        line-height: 60px;
    }
    .simply-project-sub-title-container {
        margin-left: 20px;
    }
    .simply-project-sub-title {
        font-size: 35px;
        letter-spacing: -0.7px;
        line-height: 40px;
    }
    .select-project-container {
        margin-top: 48px;
        display: flex;
    }
    .projects {
        position: relative;
    }
    .left-img {
        position: absolute;
        top: -200px;
        left: -1px;
    }
}