 .campaign-hero-section {
     background-color: #0F4288;
     position: relative;
     overflow: hidden;
     padding-bottom: 30px;
     .button-images {
         display: flex;
         padding-top: 40px;
         padding-bottom: 40px;
     }
 }
 
 .btn-container {
     .hero-button {
         background-color: #02ADEF;
         border-radius: 4px;
         margin-top: 12px;
         display: inline-block;
         color: #fff;
         padding-left: 15px;
         padding-right: 15px;
         padding-top: 7px;
         padding-bottom: 7px;
         min-width: 166px;
         text-align: center;
     }
 }
 
 .button-images {
     .img-container {
         margin-top: 20px;
     }
 }
 
 .titles-container {
     margin-top: 40px;
     margin-bottom: 55px;
     .simply-title {
         font-size: 47px;
         color: #fff;
         font-weight: 600;
         line-height: 60px;
         letter-spacing: -0.96px;
     }
     .simply-sub-title p {
         font-size: 24px;
         color: #fff;
         margin-top: 20px;
         letter-spacing: -0.48px;
         line-height: 30px;
     }
 }
 
 .img-flip {
     display: flex;
     .flip-image {
         max-width: 56%;
         position: relative;
         //  right: -70px;
     }
     .simply-description p {
         padding-left: 0px;
         font-size: 16px;
         color: #ffff;
         line-height: 26px;
         min-width: 236px;
     }
 }
 
 .arrow-btn {
     position: absolute;
     bottom: -9px;
     left: 124px;
     max-width: 34%;
 }
 
 @media (min-width:991px) {
     .campaign-hero-section {
         overflow: unset;
     }
     .button-images {
         display: block !important;
         padding-bottom: 160px;
     }
     .btn-container {
         margin-top: 41px;
         .hero-button {
             margin-right: 10px;
             padding: 7px;
             min-width: 135px;
         }
     }
     .titles-container {
         .simply-title {
             font-size: 60px;
             line-height: 60px;
             letter-spacing: -1.2px;
         }
         .simply-sub-title p {
             max-width: 540px;
             font-size: 35px;
             letter-spacing: -0.7px;
             line-height: 40px;
         }
         margin-bottom: 80px;
     }
     .img-flip {
         .simply-description p {
             max-width: 477px;
         }
         .flip-image {
             position: absolute;
             top: -340px;
             max-width: 64%;
             right: -305px;
             //  z-index: 99999;
         }
     }
     .arrow-btn {
         left: 42%;
         bottom: -10px;
     }
     .arrow-btn img {
         max-width: 90%;
     }
 }