/* ==========================================================================
   INSTAGRAM FEED
   ========================================================================== */
body {
    .instagram-feed {
        display: flex;
        flex-direction: column;

        h4 {
            padding-left: 3rem;
        }

        .instafeed {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 0px;
            grid-template-areas:
                ". . . ."
                ". . . .";
        }
    }

    .container {
        .instagram-feed {
            h4 {
                padding-left: 0;
            }
        }
    }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 991.98px) {}