/* ==========================================================================
   TIMELINE
   ========================================================================== */
body {
    overflow-x: hidden;

    .timeline {
        height: 100vh;
        display: contents;
        overflow-x: hidden;
        overflow-y: visible;

        .header {
            width: 56vw;
            position: absolute;
            top: 0;
            padding: 11rem 15px 1rem;
            background: var(--color-light);
            z-index: 2;
            transition: all 0.3s ease-out;

            &.shrink {
                width: 177px;
                transition: all 0 ease-out;
            }

            h5.sub-heading {
                margin: 0;
                @include font-size(20, 4vw, 24);
            }

            h1.heading {
                @include font-size(40, 4vw, 44);
                // font-weight: 900;
                margin: 0;
                line-height: 1.1;
                border-bottom: 2px solid var(--color-accent-8);
                width: fit-content;
                padding-bottom: 10px;
            }
        }

        .wrapper {
            //overflow-x: hidden;
        }

        &--nav {
            // position: fixed;
            position: sticky;
            z-index: 0;
            top: 700px;
            transition: top 0.3s ease-out;

            ul {
                list-style: none;
                list-style-position: inside;
                margin: 15px 0;
                padding-left: 2.4rem;

                li {
                    // margin: 30px 0;
                    padding: 15px 0;
                    list-style-type: none;
                    color: var(--color-accent-1);
                    cursor: pointer;
                    transition: all 0.3s ease-out;
                    position: relative;

                    &:after {
                        content: "";
                        display: block;
                        border-left: 2px solid var(--color-accent-8);
                        height: 100%;
                        width: 20px;
                        position: absolute;
                        left: -30px;
                        top: 12px;
                    }

                    &:first-of-type {
                        margin-top: 15px;
                    }

                    &:last-of-type {
                        &:after {
                            height: 50%;
                        }
                    }

                    span {
                        display: block;
                        @include animate;
                    }

                    &.active {
                        color: var(--color-accent-8);
                        position: relative;

                        &::before {
                            display: block;
                            content: '';
                            width: 10px;
                            height: 15px;
                            background-color: var(--color-accent-8);
                            position: absolute;
                            left: -34px;
                            top: 20px;
                        }

                        span {
                            transform: scale(1.1);
                            @include animate(1.5);
                            margin-left: 30px;
                        }
                    }

                    #{$hover} {
                        color: var(--color-dark);
                    }
                }
            }
        }

        .timeline--section .wrapper {
            scroll-snap-type: mandatory;
            scroll-snap-points-y: repeat(100vh);
            scroll-snap-type: y mandatory;

        }

        div.milestone {
            content-visibility: auto; 
            contain-intrinsic-size: 1px 5000px;
            scroll-snap-align: start;
            height: 100vh;

            h2 {
                // @include font-size();
                // font-weight: 900;
                text-transform: uppercase;
            }

            h3 {
                // @include font-size();
                margin: 1.5rem 0;
            }

            .link--more {
                @include font-size(12, 4vw, 16);
                color: var(--color-accent-8);
                @include arrow(after, -45deg, var(--color-accent-8)); // >
            }

            .col {
                &-md-5 {
                    // margin-top: 20.5rem;
                    // //padding-top: 17.5rem;
                    // overflow-y : auto;
                    // max-height: calc(100vh - 28.5em);
                    transition: all 0.3s ease-out;

                    &.shrink {
                        flex: 0;
                        width: 0;
                        padding: 0;
                        overflow: hidden;
                        opacity: 0;
                        transition: all 0.3s ease-out;
                        filter: blur(.2rem)
                    }
                }

                &.right {
                    margin-right: calc(((100vw - 4rem) / 2) * -1);

                    &.grow {
                        // margin: 0 0 0 1.5rem;

                        .background-image {
                            display: flex;
                            width: 73vw;
                            background-position: 100%;

                            &::before {
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 512 512'%3E%3Ctitle%3Eionicons-v5-a%3C/title%3E%3Cpolyline points='184 112 328 256 184 400' style='fill:none;stroke:%23fff;stroke-linecap:square;stroke-miterlimit:10;stroke-width:48px'/%3E%3C/svg%3E");
                            }
                        }
                    }
                }

                img {
                    display: none;
                }
            }

            .expand {
                .background-image {
                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '';
                        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 512 512'%3E%3Ctitle%3Eionicons-v5-a%3C/title%3E%3Cpolyline points='328 112 184 256 328 400' style='fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/%3E%3C/svg%3E") center center no-repeat;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 100vh;
                        background-color: rgba(255, 255, 255, .3);
                    }
                }
            }

            .background-image {
                display: flex;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                background-position: center center;
                height: 100vh;
                cursor: pointer;

                .trigger {
                    flex: 1 1 auto;
                    align-items: stretch;
                    background-size: 50px;
                    background-position: 50px 125px;
                    background-repeat: no-repeat;
                    opacity: .6;
                }

                @at-root body.scrolling .timeline div.milestone .background-image .trigger {
                    background-position: 50px 75px;
                }

                .video {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='206.794' height='206.794' viewBox='0 0 206.794 206.794'%3E%3Cpath d='M106.4,3a103.4,103.4,0,1,0,103.4,103.4A103.435,103.435,0,0,0,106.4,3ZM85.718,152.926V59.868L147.756,106.4Z' transform='translate(-3 -3)'/%3E%3C/svg%3E");

                    #{$hover} {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='206.794' height='206.794' viewBox='0 0 206.794 206.794'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23007c3a;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M106.4,3a103.4,103.4,0,1,0,103.4,103.4A103.435,103.435,0,0,0,106.4,3ZM85.718,152.926V59.868L147.756,106.4Z' transform='translate(-3 -3)'/%3E%3C/svg%3E");
                    }
                }

                .carousel {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='206.794' height='177.255' viewBox='0 0 206.794 177.255'%3E%3Cg transform='translate(-2.252 -4.502)'%3E%3Cpath d='M198.7,39.662l-38.082-1.846L158.4,12.982c-.462-5.216-5.124-8.863-10.571-8.447L11.238,15.751c-5.447.462-9.371,4.847-8.955,10.017l9.786,108.846c.462,5.216,5.17,8.863,10.571,8.447l6.924-.554-1.108,21.141c-.277,5.816,4.247,10.525,10.34,10.848l152.375,7.247c6.093.277,11.125-3.97,11.448-9.786l6.416-121.54C209.312,44.648,204.742,39.939,198.7,39.662ZM34.872,42.109l-3.277,62.224-8.078,11.4L16.085,33.569v-.462a5,5,0,0,1,4.431-4.339L140.995,18.89a4.456,4.456,0,0,1,4.847,3.647c0,.092.138.092.138.185,0,.046.139.092.139.185l1.246,14.217L46.273,32.277C40.18,32.092,35.149,36.339,34.872,42.109ZM189.048,151.463,149.9,105.533,132.64,121.366,100.7,84.069,44.058,144.4l4.8-91.905V52.31a5.278,5.278,0,0,1,5.493-4.154l134.419,6.462a4.9,4.9,0,0,1,4.8,4.708c0,.092.138.138.138.231Z' transform='translate(0 0)'/%3E%3Cpath d='M39.521,43.043A14.771,14.771,0,1,0,24.75,28.271,14.815,14.815,0,0,0,39.521,43.043Z' transform='translate(125.2 50.073)'/%3E%3C/g%3E%3C/svg%3E");

                    #{$hover} {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='206.794' height='177.255' viewBox='0 0 206.794 177.255'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23007c3a;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-2.252 -4.502)'%3E%3Cpath class='a' d='M198.7,39.662l-38.082-1.846L158.4,12.982c-.462-5.216-5.124-8.863-10.571-8.447L11.238,15.751c-5.447.462-9.371,4.847-8.955,10.017l9.786,108.846c.462,5.216,5.17,8.863,10.571,8.447l6.924-.554-1.108,21.141c-.277,5.816,4.247,10.525,10.34,10.848l152.375,7.247c6.093.277,11.125-3.97,11.448-9.786l6.416-121.54C209.312,44.648,204.742,39.939,198.7,39.662ZM34.872,42.109l-3.277,62.224-8.078,11.4L16.085,33.569v-.462a5,5,0,0,1,4.431-4.339L140.995,18.89a4.456,4.456,0,0,1,4.847,3.647c0,.092.138.092.138.185,0,.046.139.092.139.185l1.246,14.217L46.273,32.277C40.18,32.092,35.149,36.339,34.872,42.109ZM189.048,151.463,149.9,105.533,132.64,121.366,100.7,84.069,44.058,144.4l4.8-91.905V52.31a5.278,5.278,0,0,1,5.493-4.154l134.419,6.462a4.9,4.9,0,0,1,4.8,4.708c0,.092.138.138.138.231Z' transform='translate(0 0)'/%3E%3Cpath class='a' d='M39.521,43.043A14.771,14.771,0,1,0,24.75,28.271,14.815,14.815,0,0,0,39.521,43.043Z' transform='translate(125.2 50.073)'/%3E%3C/g%3E%3C/svg%3E");
                    }
                }
            }
        }


        #timeline--modal--video,
        #timeline--modal--carousel {
            .modal-body {
                position: relative;
                padding: 0px;

                iframe {
                    border-color: var(--color-accent-1);
                    background: var(--color-accent-1);
                }
            }

            .close {
                position: absolute;
                right: -30px;
                top: 0;
                z-index: 999;
                font-size: 2rem;
                font-weight: normal;
                color: var(--color-light);
                opacity: 1;
            }
        }
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


// MOBILES
@include media-breakpoint-down(sm) {
    body {
        .timeline {

            &--nav {
                display: none;
            }

            .col-md-2 {
                display: none !important;
            }

            .header {
                width: 100%;
                position: relative !important;
                padding: 5rem 15px 3rem;

                h5.sub-heading {
                    @include font-size(20, 4vw, 24);
                }

                h1.heading {
                    @include font-size(40, 4vw, 44);
                }
            }

            div.milestone {
                height: auto;
                margin-bottom: 4rem;

                &:last-of-type {
                    margin-bottom: 0;
                }

                .col.offset-md-1.right {
                    flex: 0 1 92.5vw;
                    // flex: 0 1 96.5vw;
                    margin-right: 0;
                }

                .order-md-first {
                    margin-top: 1.5rem;
                    padding-top: 0;
                    flex: 0 1 92.5vw;
                    // flex: 0 1 96.5vw;
                }

                .background-image {
                    height: auto;

                    img {
                        display: block;
                        opacity: 0;
                    }

                    &::before {
                        display: none !important;
                    }


                    .trigger {
                        flex: 1 1 auto;
                        align-items: stretch;
                        background-size: 50px;
                        background-position: 15px 15px;
                        background-repeat: no-repeat;
                        opacity: .6;
                    }

                    @at-root body.scrolling .timeline div.milestone .background-image .trigger {
                        background-position: 15px 15px;
                    }
                }
            }

        }
    }
}

// MOBILE & TABLETS
@include media-breakpoint-down(md) {}

// Tablets & Desktops
@include media-breakpoint-up(md) {
    body {
        .timeline {

            .col {
                &-md-5 {
                    overflow-y: auto;
                    max-height: calc(100vh - 6.5em);
                }
            }
        }
    }
}

// TABLETS ONLY
@include media-breakpoint-only(md) {
    body {
        .timeline {

            .header {

                h5.sub-heading {
                    @include font-size(20, 4vw, 24);
                }

                h1.heading {
                    @include font-size(40, 4vw, 44);
                }

                &.shrink {
                    width: 200px;
                    z-index: 0;
                }
            }

            div.milestone {
                // height: calc(100vh - 75px);
                height: 100vh;

                .col.offset-md-1.right {
                    flex: 0 1 45vw;
                    @include animate(1.5);
                }

                .col-md-5 {
                    padding-top: 15rem;
                }

                .background-image {
                    // height: calc(100vh - 75px);
                    height: 100vh;

                    .trigger {
                        background-size: 50px;
                        background-position: 50px 125px;
                    }

                    @at-root body.scrolling .timeline div.milestone .background-image .trigger {
                        background-position: 50px 50px;
                    }
                }

                .col.right.grow {
                    margin-left: 4.5rem;

                    .background-image {
                        width: 60vh;
                        background-position: 100%;
                    }
                }
            }

            .timeline--nav-container {

                .timeline--nav {

                    ul li {

                        span {
                            max-width: 50px;
                        }

                        &.active span {
                            margin-left: 5px;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        &.scrolling {
            .timeline {
                .header {
                    padding-top: calc(14rem - 81px);
                    width: 46vw;
                    transition: padding 1.5s ease;
                }

                .timeline--nav-container {
                    width: 0;
                    flex: 0 0 0;
                    position: absolute;
                    left: -50vw;
                    @include animate(1.5);

                    .timeline--nav {
                        left: -50vw;
                        @include animate(1.5);
                    }
                }

                div.milestone {

                    .col.offset-md-1.right {
                        flex: 0 1 52vw;
                        @include animate(1.5);
                    }

                    .col.right.grow {
                        margin-left: 4.5rem;

                        .background-image {
                            width: 64vh;
                        }
                    }
                }
            }
        }
    }
}

// DESKTOPS
@include media-breakpoint-up(lg) {
    body {
        .timeline {
            .header {
                width: 678px;

                h5.sub-heading {
                    @include font-size(20, 4vw, 24);
                }

                h1.heading {
                    @include font-size(40, 4vw, 44);
                }
            }

            .col {
                &-md-5 {
                    margin-top: 20.5rem;
                    //padding-top: 17.5rem;
                    overflow-y: auto;
                    max-height: calc(100vh - 28.5em);
                }
            }
        }
    }
}