<section id="about-simply" class="about-simly-section">
    <div class="container-fluid">
        <div class="row">
            <div class="about-simply-container">
                <div class="about-simply-title offset-lg-1 col-lg-5 col-5">
                    <h1 class="about-title">About Simply®</h1>
                    <div class="about-simply-description-desktop">
                        <p>The Simply range is designed to give budding and beginner artists alike the chance to try something new, simply paint, simply draw, simply create!</p>
                    </div>
                </div>
                <div class="img-container col-5 offset-1 ">
                    <img src="https://via.placeholder.com/135x109.png" alt="">
                </div>
                <div class="about-simply-description-mobile col-12">
                    <p>The Simply range is designed to give budding and beginner artists alike the chance to try something new, simply paint, simply draw, simply create!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="visit-simply col-lg-7 col-12">
                <div class="visit-simply-description">
                    <p>It’s made to make an art and fun journey uncomplicated, so they can focus less on the tools and more on their handiwork. This means that each product in the Simply collection is excellent value for money while remaining reliable and
                        of a high standard.</p>
                </div>
                <div class="arrow-button d-flex"> <a href="#" class="about-simply-btn col-12">Visit our Simply brand
                        page</a>
                    <img class="arrow-image" src="https://via.placeholder.com/112x140.png" alt="">
                </div>
                <img class="simply-image" src="https://via.placeholder.com/558x558.png" alt="">
            </div>
            <div class="draw-dots col-lg-5">
                <img class="black-dots" src="https://via.placeholder.com/606x744.png" alt="">
            </div>
        </div>
    </div>
</section>