<section class="faqs-accordion">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title"> <a class="accordion-title" data-toggle="collapse"
                                    data-parent="#accordion"
                                    href="#page_panel_sections_FaqsAccordion_panel_Accordions_List_1_5"
                                    aria-expanded="true"
                                    aria-controls="page_panel_sections_FaqsAccordion_panel_Accordions_List_1_5"> New
                                    Product Development </a> </h4>
                        </div>
                        <div id="page_panel_sections_FaqsAccordion_panel_Accordions_List_1_5"
                            class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne"
                            style="">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="accordion-desc">
                                            <p>At Daler-Rowney, we have been&nbsp;working on new processes to make
                                                sustainability a key consideration when designing new products. This
                                                will also determine if the product will go ahead or what changes need to
                                                be made to the production process, packaging, raw materials, and
                                                suppliers to make the product more sustainable.</p>
                                            <p>In addition to new processes, we are currently developing several key
                                                products:</p>
                                            <ul>
                                                <li>A paint range that uses a defined %&nbsp;of materials from renewable
                                                    sources.</li>
                                                <li>A&nbsp;range of non-hazardous mediums.</li>
                                                <li>Developing an alternative to acrylic&nbsp;paint without the issues
                                                    associated with microplastic.</li>
                                                <li>Replacing hazardous solvent-based inks used for the coating of brush
                                                    handles with inks with a better health &amp; safety profile</li>
                                            </ul>
                                        </div> <a href="#" style="display:none" class="accordion-video"></a>
                                    </div>
                                    <div class="col-12 text-right"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>