<section id="aclyric" class="aclylic-section ">
    <div class="section-background">
        <div class="dots-image"></div>
    </div>
    <div class="container">
        <div class="dots-img-container">
            <div class="Acrylic-background"> <img src="https://via.placeholder.com/316x141.png" alt="">
                <p class="Acrylic project-acrylic-text">Acrylic</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="acrylic-container col-12">
                        <p class="acrylic-paints">Daler-Rowney Simply Acrylic Paints are a perfect starting point for artists and hobbyists looking to experiment with acrylics.</p>
                        <div class="acrylic-desc">
                            <p>These soft-body water-based colours can be used straight from the tube, wet easily onto the surface, and can be thinned with water.</p>
                        </div> <a href="#" class="show-products  project-acrylic">Simply acrylic products</a>
                        <h5 class="projects-title">Projects</h5>
                        <div class="projects-images">
                            <img class="product-img" src="https://via.placeholder.com/169x114.png" alt="">
                            <img class="product-img" src="https://via.placeholder.com/169x114.png" alt="">
                            <img class="product-img" src="https://via.placeholder.com/169x114.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="images-container">
                    <img class="first-image" src="https://via.placeholder.com/329x376.png" alt="">
                    <img class="second-image" src="https://via.placeholder.com289x295.png" alt="">
                    <img class="third-image" src="https://via.placeholder.com/427x406.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>