<section id="campaign-hero" class="campaign-hero-section">
    <div class="container">
        <div class="row button-images">
            <div class="col-5 img-container"> <img src="https://via.placeholder.com/134x109.png" alt=""> </div>
            <div class=" col-5 offset-lg-0 btn-container">
                <a href="#" class="hero-button">Simply® Projects</a>
                <a href="#" class="hero-button">Simply® Range</a>
                <a href="#" class="hero-button">About Simply®</a>
            </div>
            <div class="titles-container col-12">
                <h1 class="simply-title">#simplycreate. </h1>
                <div class="simply-sub-title">
                    <p>All the projects, tips, inspiration and guidance you need to get started on your artistic journey! </p>
                </div>
                <div class="img-flip">
                    <div class="simply-description">
                        <p>Our step by step guides give you everything you need to lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div> <img class="flip-image" src="https://via.placeholder.com/600x880.png">
                </div>
            </div>
        </div>
        <div class="arrow-btn">
            <a href="#all-projects"><img src="https://via.placeholder.com/200x279.png" alt=""></a>
        </div>
    </div>
</section>