<!--

Component:  Carousel -- Full Width

-->


<div class="row no-gutters">
    <div class="col">
        <div id="carousel--full-width--indicators" class="carousel carousel--full-width header-carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel--full-width--indicators" data-slide-to="0" class="active"></li>
                <li data-target="#carousel--full-width--indicators" data-slide-to="1"></li>
                <li data-target="#carousel--full-width--indicators" data-slide-to="2"></li>
                <li data-target="#carousel--full-width--indicators" data-slide-to="4"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active bg-scale" style="background-image: url('https://picsum.photos/id/201/1900/600');">
                    <img src="https://picsum.photos/id/201/1900/600" loading="lazy" class="d-none" alt="...">
                    <div class="carousel-caption dark">
                        <p class="intro-title text-dark dymo dymo-light">Inspired by</p>
                        <h1 class="title text-light dymo">Hockney</h1>
                        <p class="text-light dymo">Produce a piece of art inspired by the British Legend David Hockney.
                        </p>
                        <a href="#" class="btn btn-light btn-lg text-uppercase">Join in our monthly challenge</a>
                    </div>
                </div>

                <div class="carousel-item bg-scale" style="background-image: url('https://picsum.photos/id/202/1900/600');">
                    <img src="https://picsum.photos/id/202/1900/600" loading="lazy" class="d-none" alt="...">
                    <div class=" carousel-caption dark">
                        <p class="intro-title text-dark dymo dymo-light">Inspired by</p>
                        <h1 class="title text-dark dymo dymo-light">VIN+OMI</h1>
                        <p class="text-dark dymo dymo-light">Created by VIN+OMI for the SS20 London Fashion Week. Made
                            with System3 Acrylic.</p>
                        <a href="/system3-acrylic-art-supplies/" class="btn btn-dark btn-lg text-uppercase">Discover
                            System3</a>
                    </div>
                </div>

                <div class="carousel-item bg-scale" style="background-image: url('https://picsum.photos/id/202/1900/600');">
                    <img src="https://picsum.photos/id/202/1900/600" loading="lazy" class="d-none" alt="...">
                    <div class="carousel-caption">
                        <p class="intro-title text-light">Inspired by</p>
                        <h1 class="title text-dark">Hockney</h1>
                        <p class="text-light dymo">Produce a piece of art inspired by the British Legend David Hockney.
                        </p>
                        <a href="#" class="btn btn-dark btn-lg text-uppercase">Join in our monthly challenge</a>
                    </div>
                </div>
                <div class="carousel-item bg-scale" style="background-image: url('https://picsum.photos/id/203/1900/600');">
                    <div class='embed-container carousel video' data-thumbnail-img="https://img.youtube.com/vi/9XIZEGFt6zQ/hqdefault.jpg">
                        <iframe loading="lazy" src='https://www.youtube.com/embed/9XIZEGFt6zQ' frameborder='0' allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#carousel--full-width" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carousel--full-width" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>