<!--

Component:  Carousel -- Full Width --- Quote

-->


<div class="row no-gutters">
    <div class="col">
        <div id="carousel--full-width--quote" class="carousel carousel--full-width quote slide carousel-fade" data-ride="carousel">
            <!-- <ol class="carousel-indicators">
                <li data-target="#carousel--full-width--quote" data-slide-to="0" class="active"></li>
                <li data-target="#carousel--full-width--quote" data-slide-to="1"></li>
                <li data-target="#carousel--full-width--quote" data-slide-to="2"></li>
                <li data-target="#carousel--full-width--quote" data-slide-to="4"></li>
            </ol> -->

            <div class="carousel-inner">
                <div class="carousel-item active bg-scale" style="background: #007c3a;">
                    <div class="carousel-quote">
                        <p class="intro-title">System3 Review</p>
                        <blockquote cite="https://www.daler-rowney.com/discover/artists/francoise-nielly">
                           <span>&quot;</span><p>Daler Rowney products give me the colour quality I need to perfect my work.</p>
                            <cite>Françoise Nielly | Artist</cite>
                        </blockquote>
                    </div>
                </div>

                <div class="carousel-item bg-scale" style="background: #007c3a;">
                    <div class="carousel-quote">
                        <p class="intro-title">System3 Review</p>
                        <blockquote cite="https://www.daler-rowney.com/discover/artists/francoise-nielly">
                           <span>&quot;</span><p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            <cite>Françoise Nielly | Artist</cite>
                        </blockquote>
                    </div>
                </div>

                <div class="carousel-item bg-scale" style="background: #007c3a;">
                    <div class="carousel-quote">
                        <p class="intro-title">System3 Review</p>
                        <blockquote cite="https://www.daler-rowney.com/discover/artists/francoise-nielly">
                           <span>&quot;</span><p>Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam.</p>
                            <cite>Françoise Nielly | Artist</cite>
                        </blockquote>
                    </div>
                </div>
                <div class="carousel-item bg-scale" style="background: #007c3a;">
                    <img src="https://picsum.photos/id/201/1900/600" loading="lazy" class="d-none" alt="...">
                    <div class="carousel-quote">
                        <p class="intro-title">System3 Review</p>
                        <blockquote cite="https://www.daler-rowney.com/discover/artists/francoise-nielly">
                           <span>&quot;</span><p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                            <cite>Françoise Nielly | Artist</cite>
                        </blockquote>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#carousel--full-width--quote" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carousel--full-width--quote" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>