<div class="row no-gutters">
    <div class="col">
        <div id="carouselMultiControls" class="carousel carousel-multi w-100" data-ride="carousel">
            <div class="carousel-inner w-100">
                <div class="carousel-item active">
                    <a href="" class="d-block col-md-4">
                        <img class="img-fluid align-self-start scale" loading="lazy" src="http://placehold.it/539x180?text=1">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="" class="d-block col-md-4">
                        <img class="img-fluid align-self-start scale" loading="lazy" src="http://placehold.it/539x180?text=2">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="" class="d-block col-md-4">
                        <img class="img-fluid align-self-start scale" loading="lazy" src="http://placehold.it/539x180?text=3">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="" class="d-block col-md-4">
                        <img class="img-fluid align-self-start scale" loading="lazy" src="http://placehold.it/539x180?text=4">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="" class="d-block col-md-4">
                        <img class="img-fluid align-self-start scale" loading="lazy" src="http://placehold.it/539x180?text=5">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="" class="d-block col-md-4">
                        <img class="img-fluid align-self-start scale" loading="lazy" src="http://placehold.it/539x180?text=6">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="" class="d-block col-md-4">
                        <img class="img-fluid align-self-start scale" loading="lazy" src="http://placehold.it/539x180?text=7">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="" class="d-block col-md-4">
                        <img class="img-fluid align-self-start scale" loading="lazy" src="http://placehold.it/539x180?text=8">
                    </a>
                </div>
            </div>

            <a class="carousel-control carousel-control-prev" href="#carouselMultiControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control carousel-control-next" href="#carouselMultiControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


<div class="row no-gutters">
    <div class="col">
        <div id="carouselMultiControls" class="carousel carousel-multi w-100" data-ride="carousel">
            <div class="carousel-inner w-100">
                <div class="carousel-item active">
                    <a href="" class="d-block col-md-4">
                        <img class="img-fluid align-self-start scale" loading="lazy" src="http://placehold.it/539x180?text=1">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="" class="d-block col-md-4">
                        <img class="img-fluid align-self-start scale" loading="lazy" src="http://placehold.it/539x180?text=2">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="" class="d-block col-md-4">
                        <img class="img-fluid align-self-start scale" loading="lazy" src="http://placehold.it/539x180?text=3">
                    </a>
                </div>
            </div>

            <a class="carousel-control carousel-control-prev" href="#carouselMultiControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control carousel-control-next" href="#carouselMultiControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<script>
    var $j = jQuery.noConflict();
    $j(document).ready(function() {
        // For each multi carousel, count items and adjust controls and animation
        $j('.carousel-multi').each(function() {

            if ($j('.carousel-item', this).length <= 3) {
                $j('.carousel-control', this).remove();
                $j(this).carousel({
                    pause: true,
                    interval: false
                });
            }
        });

        // Only for desktop devices
        if ($j(window).width() >= 576) {

            $j('.carousel-multi .carousel .carousel-item').each(function() {
                var next = $j(this).next();
                if (!next.length) {
                    next = $j(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($j(this));
                for (var i = 0; i < 3; i++) {
                    next = next.next();
                    if (!next.length) {
                        next = $j(this).siblings(':first');
                    }
                    next.children(':first-child').clone().appendTo($j(this));
                }
            });
        }
    });
</script>