<div class="content-carousel">
    <div class="owl-carousel">
        <div>
            <div class='embed-container carousel video' data-thumbnail-img="https://img.youtube.com/vi/9XIZEGFt6zQ/hqdefault.jpg">
                <iframe src='https://www.youtube.com/embed/9XIZEGFt6zQ' loading="lazy" frameborder='0' allowfullscreen></iframe>
            </div>
        </div>
        <div>
            <img class="carousel img" src="https://picsum.photos/id/103/444/444" loading="lazy" data-thumbnail-img="https://picsum.photos/id/103/76/76">
        </div>
        <div>
            <img class="carousel img" src="https://picsum.photos/id/102/444/444" loading="lazy" data-thumbnail-img="https://picsum.photos/id/102/76/76">
        </div>
        <div>
            <img class="carousel img" src="https://picsum.photos/id/101/444/444" loading="lazy" data-thumbnail-img="https://picsum.photos/id/101/76/76">
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script>
    var $j = jQuery.noConflict();
    $j(document).ready(function() {

        $j('.owl-carousel').owlCarousel({
            loop: true,
            items: 1,
            margin: 0,
            stagePadding: 0,
            autoplay: false
        });

        let dotcount = 1;

        $j('.owl-dot').each(function() {
            $j(this).addClass('animate dotnumber' + dotcount);
            $j(this).attr('data-info', dotcount);
            dotcount = dotcount + 1;
        });

        let slidecount = 1;

        $j('.owl-item').not('.cloned').each(function() {
            $j(this).addClass('slidenumber' + slidecount);
            slidecount = slidecount + 1;
        });

        $j('.owl-dot').each(function() {
            grab = $j(this).data('info');
            slidegrab = $j('.slidenumber' + grab + ' .video, .slidenumber' + grab + ' .img').attr('data-thumbnail-img');
            $j(this).css("background-image", "url(" + slidegrab + ")");
        });

        let amount = $j('.owl-dot').length,
            gotowidth = 100 / amount;

        $j('.owl-dot').css("height", "76px");

    });
</script>