<!-- YouTube -->
<iframe loading="lazy" src='https://www.youtube.com/embed/9XIZEGFt6zQ' width="640" height="360" frameborder='0' allowfullscreen></iframe>

<!-- Vimeo -->
<iframe loading="lazy" src="https://player.vimeo.com/video/157715456" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>