<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="preload" href="../dist/fonts/lucky-fellas/3A24F2_0_0.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link href="../dist/css/style.min.css" rel="stylesheet" media="screen">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.js"></script>

<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="icon" type="image/png" sizes="192x192" href="../dist/images/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="../dist/images/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="16x16" href="../dist/images/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="../dist/images/favicon-32x32.png">
<link rel="apple-touch-icon" href="../dist/images/apple-touch-icon.png">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#ffffff">

<!-- Store locator elements (vue.js) -->
<script src="https://searchg2-assets.crownpeak.net/crownpeak.searchg2-1.0.2.js"></script>

<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css" rel="stylesheet">

<link href="../vue/css/app.67291056.css" rel="stylesheet">
<link href="../vue/css/chunk-vendors.3f18f9cf.css" rel="stylesheet">

<link href="../vue/js/app.3c82d616.js">
<link href="../vue/js/app.3c82d616.js.map">

<link href="../vue/js/chunk-vendors.ba94c4f1.js">
<link href="../vue/js/chunk-vendors.ba94c4f1.js.map">



<script src="https://config.metomic.io/config.js?id=prj:0a5718cd-aeff-4b34-9b24-d5b6195329af" crossorigin charset="utf-8"></script>
<script src="https://consent-manager.metomic.io/embed.js" crossorigin charset="utf-8"></script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://www.daler-rowney.com/",
        "logo": "https://www.daler-rowney.com/global/daler-rowney-logos/daler-rowney-logo-dark.svg",
        "name": "Daler-Rowney",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://www.daler-rowney.com/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        },
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "148 W 51st St",
            "addressLocality": "New York",
            "addressRegion": "NY",
            "postalCode": "10019",
            "addressCountry": "US"
        },
        "contactPoint": [{
            "@type": "ContactPoint",
            "telephone": "+1-877-746-0909",
            "contactType": "customer service",
            "contactOption": "TollFree",
            "areaServed": "UK"
        }, {
            "@type": "ContactPoint",
            "telephone": "+1-877-453-1304",
            "contactType": "sales",
            "contactOption": "TollFree",
            "areaServed": [
                "UK",
                "FR"
            ],
            "availableLanguage": [
                "English",
                "French"
            ]
        }]
    }

    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Books",
            "item": "https://example.com/books"
        }, {
            "@type": "ListItem",
            "position": 2,
            "name": "Authors",
            "item": "https://example.com/books/authors"
        }, {
            "@type": "ListItem",
            "position": 3,
            "name": "Ann Leckie",
            "item": "https://example.com/books/authors/annleckie"
        }, {
            "@type": "ListItem",
            "position": 4,
            "name": "Ancillary Justice",
            "item": "https://example.com/books/authors/ancillaryjustice"
        }]
    }

    {
        "@context": "https://schema.org",
        "@type": "VideoObject",
        "name": "Introducing the self-driving bicycle in the Netherlands",
        "description": "This spring, Google is introducing the self-driving bicycle in Amsterdam, the world’s premier cycling city. The Dutch cycle more than any other nation in the world, almost 900 kilometres per year per person, amounting to over 15 billion kilometres annually. The self-driving bicycle enables safe navigation through the city for Amsterdam residents, and furthers Google’s ambition to improve urban mobility with technology. Google Netherlands takes enormous pride in the fact that a Dutch team worked on this innovation that will have great impact in their home country.",
        "thumbnailUrl": [
            "https://example.com/photos/1x1/photo.jpg",
            "https://example.com/photos/4x3/photo.jpg",
            "https://example.com/photos/16x9/photo.jpg"
        ],
        "uploadDate": "2016-03-31T08:00:00+08:00",
        "duration": "PT1M54S",
        "contentUrl": "https://www.example.com/video/123/file.mp4",
        "embedUrl": "https://www.example.com/embed/123"
    }
</script>