<header id="primary-nav-warpper" class="shadow">
    <div class="container">
        <div class="col">
            <nav id="nav-main" class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/"><img src="../dist/images/logo-dark.png" alt="Daler-Rowney" srcset="../dist/images/logo-dark.svg" width="100"></a>

                <button class="navbar-toggler search d-lg-none collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <ion-icon name="search"></ion-icon>
                </button>

                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="inspire-me.html">Inspire me <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-uppercase" href="featured-artists.html" id="navbarDropdownDiscover" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Discover</a>

                            <div class="dropdown-menu shadow" aria-labelledby="navbarDropdownDiscover">
                                <div class="container">

                                    <a href="#" class="d-none d-lg-block close-dropdown">
                                        <ion-icon name="close">close</ion-icon>
                                    </a>


                                    <div class="row">
                                        <div class="col-lg-3 mb-md-2">
                                            <p class="mega-intro"><span>Discover</span> new artists, techniques and products</p>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales mollis enim, id feugiat est suscipit interdum.</p>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="featured-artists.html">Artists</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Techniques</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Products</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-5 offset-lg-1">
                                            <img src="https://picsum.photos/id/202/500/300" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-uppercase" href="results-list.html" id="navbarDropdownProducts" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>

                            <div class="dropdown-menu shadow" aria-labelledby="navbarDropdownProducts">
                                <div class="container">

                                    <a href="#" class="d-none d-lg-block close-dropdown">
                                        <ion-icon name="close">close</ion-icon>
                                    </a>

                                    <div class="row">
                                        <div class="col-lg-3">
                                            <p class="mega-intro"><span>Products</span> to inspire your creativity</p>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales mollis enim, id feugiat est suscipit interdum.</p>
                                            <img src="https://picsum.photos/id/202/500/300" alt="...">
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="menu">
                                                <span class="flyout-menu">
                                                    <a href="#" class="has-submenu"><i class="material-icons">keyboard_arrow_right</i>Colours</a>
                                                    <div class="submenu">
                                                        <span class="flyout-menu">
                                                            <a href="#" class="has-submenu"><i class="material-icons">keyboard_arrow_right</i>Acrylic</a>
                                                            <div class="submenu">
                                                                <a href="#"><i class="material-icons">keyboard_arrow_right</i>Cryla Artists' Acrylic</a>
                                                                <a href="#"><i class="material-icons">keyboard_arrow_right</i>FW Acrylic Ink</a>
                                                                <a href="#"><i class="material-icons">keyboard_arrow_right</i>FW Pearlscent</a>
                                                                <a href="#"><i class="material-icons">keyboard_arrow_right</i>System3 Acrylic</a>
                                                                <a href="#"><i class="material-icons">keyboard_arrow_right</i>System3 Heavy Body Acrylic</a>
                                                                <a href="#"><i class="material-icons">keyboard_arrow_right</i>System3 Screen Printing</a>
                                                                <a href="#"><i class="material-icons">keyboard_arrow_right</i>System3 Textile Screen</a>
                                                                <a href="#"><i class="material-icons">keyboard_arrow_right</i>System3 Acrylic Ink</a>
                                                                <a href="#"><i class="material-icons">keyboard_arrow_right</i>Graduate Acrylic</a>
                                                                <a href="#"><i class="material-icons">keyboard_arrow_right</i>Simply Acrylic</a>
                                                                <a href="#"><i class="material-icons">keyboard_arrow_right</i>Mediums, Varnishes &amp; Primers</a>

                                                                <a href="results-list.html" class="btn btn-dark">All Acrylics</a>
                                                            </div>
                                                        </span>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Oil</a>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Watercolour</a>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Gouache</a>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Ink</a>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Multi-techniques</a>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Caligraphy Ink</a>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Caligraphy pens &amp; Markers</a>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Printing</a>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Screen-Printing</a>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Block Printing</a>

                                                        <a href="results-list.html" class="btn btn-dark">All Colours</a>
                                                    </div>
                                                </span>

                                                <a href="#" class=""><i class="material-icons">keyboard_arrow_right</i>Drawing &amp; Sketching</a>

                                                <span class="flyout-menu">
                                                    <a href="#" class="has-submenu"><i class="material-icons">keyboard_arrow_right</i>Surfaces</a>
                                                    <div class="submenu">
                                                        <a href="#" class="has-submenu"><i class="material-icons">keyboard_arrow_right</i>Surfaces Sub 1</a>
                                                        <div class="submenu">
                                                            <a href="#"><i class="material-icons">keyboard_arrow_right</i>Surfaces Sub Sub 1</a>
                                                            <a href="#"><i class="material-icons">keyboard_arrow_right</i>Surfaces Sub Sub 2</a>
                                                            <a href="#"><i class="material-icons">keyboard_arrow_right</i>Surfaces Sub Sub 3</a>


                                                            <a href="results-list.html" class="btn btn-dark">All Surfaces Sub Sub</a>
                                                        </div>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Surfaces Sub 2</a>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Surfaces Sub 3</a>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Surfaces Sub 4</a>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Surfaces Sub 5</a>
                                                        <a href="#"><i class="material-icons">keyboard_arrow_right</i>Surfaces Sub 6</a>

                                                        <a href="results-list.html" class="btn btn-dark">All Surfaces</a>
                                                    </div>
                                                </span>
                                                <a href="#" class=""><i class="material-icons">keyboard_arrow_right</i>Easels</a>
                                                <a href="#"><i class="material-icons">keyboard_arrow_right</i>Brushes &amp; Palette Knives</a>
                                                <a href="#"><i class="material-icons">keyboard_arrow_right</i>Accessories</a>
                                            </div>

                                            <a href="results-list.html" class="btn btn-dark">All Products</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-uppercase" href="results-list.html" id="navbarDropdownBrands" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brands</a>

                            <div class="dropdown-menu shadow brands" aria-labelledby="navbarDropdownBrands">
                                <div class="container">

                                    <a href="#" class="d-none d-lg-block close-dropdown">
                                        <ion-icon name="close">close</ion-icon>
                                    </a>


                                    <div class="row">
                                        <div class="col-lg-3">
                                            <p class="mega-intro">Our <span>Brands</span></p>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales mollis enim, id feugiat est suscipit interdum.</p>
                                        </div>

                                        <div class="col-md-9">

                                            <ul class="list-col-3">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        <img src="https://picsum.photos/id/201/150/40" class="img-fluid" alt="...">
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        <img src="https://picsum.photos/id/201/150/40" class="img-fluid" alt="...">
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        <img src="https://picsum.photos/id/201/150/40" class="img-fluid" alt="...">
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        <img src="https://picsum.photos/id/201/150/40" class="img-fluid" alt="...">
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        <img src="https://picsum.photos/id/201/150/40" class="img-fluid" alt="...">
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        <img src="https://picsum.photos/id/201/150/40" class="img-fluid" alt="...">
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        <img src="https://picsum.photos/id/201/150/40" class="img-fluid" alt="...">
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        <img src="https://picsum.photos/id/201/150/40" class="img-fluid" alt="...">
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        <img src="https://picsum.photos/id/201/150/40" class="img-fluid" alt="...">
                                                    </a>
                                                </li>
                                            </ul>

                                            <h5 class="mt-5">All our other brands</h5>

                                            <ul class="list-col-3">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        Simply
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        Murano
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        Ebony
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        Ivony
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">
                                                        Cachet
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown search d-none d-sm-block">
                            <a class="nav-link dropdown-toggle d-none d-lg-block" href="#" id="navbarDropdownSearch" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <ion-icon name="search"></ion-icon>
                            </a>

                            <div class="dropdown-menu shadow" aria-labelledby="navbarDropdownSearch">
                                <!-- search -->
                                <div class="product-search-container bg-dark pt-2 pb-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                @@include('components/search-form.html')
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item aux">
                            <a class="nav-link text-capitalize" href="generic.html"><span>About</span></a>
                        </li>

                        <li class="nav-item dropdown store-locator aux">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStoreLocator" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Store locator</span></a>

                            <div class="dropdown-menu shadow" aria-labelledby="navbarDropdownStoreLocator">
                                <!-- Store Locator -->
                                <div class="bg-dark pt-2 pb-5">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-5">
                                                <form class="search current-location" method="post">

                                                    <label for="searhbarpostalcode" class="col-form-label">Store locator</label>

                                                    <input class="form-control searhbarpostalcode" type="text" required="" value="" name="searhbarpostalcode" placeholder="Postcode, City, Town">

                                                    <inputs type="submit" class="btn btn-light">
                                                        <ion-icon name="search"></ion-icon>
                                                    </inputs>

                                                </form>
                                            </div>

                                            <div class="col-sm-6 col-lg-5">
                                                <form class="search store">
                                                    <label for="searhbarcurrentlocation" class="col-form-label">Use my current location</label>

                                                    <input type="hidden" class="form-control" id="searhbarcurrentlocation">

                                                    <a class="btn btn-light ml-3"><i class="material-icons">location_searching</i></a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="mobile-search d-block d-sm-none">
                        @@include('components/search-form.html')
                    </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</header>

<script>
    var $j = jQuery.noConflict();
    $j(document).ready(function() {

        // NOTE:
        // For desktops
        $j('.menu span.flyout-menu > a.has-submenu').on('click', function() {
            event.preventDefault();
            if ($j(this).hasClass('active')) {
                $j(this).removeClass('active');
            } else {
                $j(this).addClass('active');
                $j(this).parent().siblings().find('a.has-submenu').removeClass('active');
            }
        });

        $j('a.close-dropdown').on('click', function() {
            event.preventDefault();

            $j('.dropdown-menu').removeClass('show');
            $j('a.has-submenu').removeClass('active');
        });

        // // NOTE:
        // // For mobiles
        // if ($j(window).width() < 769) {
        //     $j('.menu > span a').on('click', function() {
        //         event.preventDefault();

        //         if ( $j(this).hasClass('active')) {
        //             $j(this).removeClass('active');
        //         } else {
        //             $j(this).addClass('active');
        //             $j(this).siblings().removeClass('active');
        //         }
        //     });
        // }

        var menuHeight = $j('.menu > a + .submenu').height();

        $j('.dropdown-menu').click(function(e) {
            e.stopPropagation();
        });
    });
</script>