<aside class="social-share">
    <ul class="social-share-list vertical">
        <li class="label">Share</li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-white">
                <ion-icon name="mail"></ion-icon>
            </a></li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-white">
                <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-white">
                <ion-icon name="logo-facebook"></ion-icon>
            </a></li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-white">
                <ion-icon name="logo-twitter"></ion-icon>
            </a></li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-white">
                <ion-icon name="logo-youtube"></ion-icon>
            </a></li>
    </ul>
</aside>

@@include('components/signposts--stockist--full-width.html')

<footer id="footer-master" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="mb-3" src="../dist/images/logo-dark.png" alt="Daler-Rowney" srcset="../dist/images/logo-light.svg" width="150">
                <div class="row">
                    <div class="col">
                        <ul class="links">
                            <li><a href="#">History</a></li>
                            <li><a href="#">Manufacturing</a></li>
                            <li><a href="#">Sustainability</a></li>
                            <li><a href="#">Social Responsibility</a></li>
                            <li><a href="#">How to become an ambassador</a></li>
                            <li><a href="#">Carreers</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="links">
                            <li><a href="#">History</a></li>
                            <li><a href="#">Manufacturing</a></li>
                            <li><a href="#">Sustainability</a></li>
                            <li><a href="#">Social Responsibility</a></li>
                            <li><a href="#">How to become an ambassador</a></li>
                            <li><a href="#">Carreers</a></li>
                        </ul>
                    </div>
                </div>

                <a href="" class="btn select-country"><span class="material-icons">language</span> Select your country <span class="flag-icon flag-icon-gb"></a>

                <!-- <ul class="nav">
                    <li class="nav-item">Select you counry</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-gb">UK</span></a>
                        <div class="dropdown-menu bg-dark">
                            <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-fr">FR</span></a>
                            <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-de">DE</span></a>
                            <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-es">ES</span></a>
                            <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-it">IT</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-gb">UK</span></a>
                        </div>
                    </li>
                </ul> -->

                <p class="d-none d-md-block"><small>Copyright <i class="material-icons">copyright</i> 2019</small></p>
            </div>

            <div class="col-md-5 offset-md-1">
                <h5 class="mb-3">Sign up</h5>

                <div class="subscribe-container form-container">
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup_ajax" class="mc_embed_signup_ajax">

                        <form action="https://daler-rowney.us6.list-manage.com/subscribe/post-json?u=d7432885d5a5c2dd395621203&amp;id=fa41248853&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <p>We would like to send you occasional emails about news and information about art supplies. We will always treat your personal details with care and will never sell them to other companies for marketing purposes.</p>

                                <div class="mc-field-group_ajax input-group form-check mt-3 mb-3">
                                    <input type="checkbox" value="1" name="group[15461][1]" id="mce-group[15461]-15461-0" class="form-check-input required">
                                    <label for="mce-group[15461]-15461-0" class="form-check-label">I wish to be contacted by Daler-Rowney</label>
                                </div>

                                <div class="mc-field-group_ajax form-row">

                                    <div class="col-md-8 mb-3 mb-md-0">
                                        <input type="email" value="" placeholder="Enter your email" name="EMAIL" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required class="form-control required email" id="mce-EMAIL">
                                    </div>

                                    <div class="col-md-4">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-green btn-block">
                                    </div>

                                </div>

                                <div class="mc-field-group_ajax d-none">
                                    <label for="mce-MMERGE6">Language <span class="asterisk">*</span>
                                    </label>
                                    <input type="text" value="EN-GB" name="MMERGE6" disabled class="required" id="mce-MMERGE6">
                                </div>

                                <p class="error-message">Please fill out the fields above.</p>

                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_d6c6ce7da87357b90e9859e81_2091bdd722" tabindex="-1" value="">
                                </div>
                            </div>
                        </form>

                    </div>


                    <div class="success-message">

                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" width="70">
                            <circle class="checkmark-circle" cx="26" cy="26" r="23" fill="none" />
                            <path class="checkmark-check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>

                        <div>
                            <h4>Success!</h4>
                            <p>Click the verify link in the email we have just sent you to complete your subscription.</p>
                        </div>

                    </div>

                    <p class="d-sm-block d-md-none mt-2"><small>Copyright <i class="material-icons">copyright</i> 2019</small></p>
                </div>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="filagroup" class="col-12">
                <a href="https://www.filagroup.it/en/">
                    <img src="../dist/images/fila-group-logo.png" srcset="../dist/images/fila-group-logo.svg" width="150" alt="Fila Group">
                </a>
            </div>
        </div>
    </div>
</footer>

<section class="select-country-wrapper">
    <div class="select-country--top">
        <a href="">Close <ion-icon name="close-outline">x</ion-icon></a>
    </div>

    <div class="select-country--content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 offset-lg-2">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="country-lang-link" href="#" data-country="gb" data-lang="en-gb">
                                <span class="flag-icon flag-icon-gb">UK - English</span>
                                <span>UK - English</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="country-lang-link" href="#" data-country="us" data-lang="en-us">
                                <span class="flag-icon flag-icon-us">USA - English</span>
                                <span>USA - English</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="country-lang-link" href="#" data-country="fr" data-lang="fr">
                                <span class="flag-icon flag-icon-fr">France - Fran&‌ccedil;ais</span>
                                <span>France - Fran&ccedil;ais</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="country-lang-link" href="#" data-country="de" data-lang="de">
                                <span class="flag-icon flag-icon-de">Germany - Deutsch</span>
                                <span>Germany - Deutsch</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="country-lang-link" href="#" data-country="it" data-lang="it">
                                <span class="flag-icon flag-icon-it">Italy - Italiano</span>
                                <span>Italy - Italiano</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="country-lang-link" href="#" data-country="es" data-lang="es-es">
                                <span class="flag-icon flag-icon-es">Spain - Espanol</span>
                                <span>Spain - Espanol</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="country-lang-link" href="#" data-country="be" data-lang="be-nl">
                                <span class="flag-icon flag-icon-be">Belgium - English Deutsch Fran&ccedil;ais Nederlands</span>
                                <span>Belgium - English Deutsch Fran&ccedil;ais Nederlands</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    var $j = jQuery.noConflict();
    $j(document).ready(function() {
        let formContainer = $j('footer .mc_embed_signup_ajax');
        $j(' > form', formContainer).submit(function(e) { // On submitting the form...
            e.preventDefault(); // Prevent a new window from opening upon clicking 'Subscribe now' button

            var validForm = true, // Set initial state of valid form to true
                inputArray = $j(this).find('input.required'), // Find all required inputs and store them in array
                emailAddress = $j('input.email', formContainer)
                .val(), // Find the input value for later
                emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,6})?$/; // Regx to check for emails

            // Simple check for a real email address
            if (!emailReg.test(emailAddress)) { // IF not a valid email address
                validForm = false; // Don't submit the form
                console.log('👎 This is not a valis email address.');
                $j('.error-message', formContainer).show(); // if empty, show error message
                $j('input.required', formContainer).addClass('error'); // and highlight empty inputs
            }

            // Simple check for all inputs to make sure the value is not empty & the checkbox is checked
            inputArray.each(function(item) {
                if ($j(this).val() == "" || !$j('.form-check-input', formContainer).is(':checked')) { // IF the fields (we can add more, such as name) are not empty
                    console.log('🤔 I think you may have forgot something?');
                    validForm = false; // Don't submit the form
                    $j('.error-message', formContainer).show(); // if empty, show error message
                    $j('input.required', formContainer).addClass('error'); // and highlight empty inputs
                }
            });

            // Everything checks out! Continue...
            if (validForm == true) {
                formData = $j(this).serialize(); // Format all info and get it ready for sendoff

                // AJAX magic coming up...
                $j.ajax({
                        type: $j(this).attr('method'),
                        url: $j(this).attr('action'),
                        data: formData,
                        cache: false,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        encode: true,
                        error: function(err) {
                            console.log('Uh, oh. There was an error:',
                                err); // You broke something...
                        },
                        success: function(data) {
                            console.log('Success! Here is the data:', data); // Yay!
                        }
                    }) // All done! Let's show the user a success message:
                    .done(function(data) {
                        $j(formContainer).hide(); // Hide the initial form
                        $j('footer .success-message').show(); // Show the checkmark
                        $j('footer svg.checkmark').addClass('active'); // Start animation of checkmark
                    });
            }

            return; // No go on form...
        }); // end of submit function
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="../dist/js/custom.min.js"></script>


<script src="https://config.metomic.io/config.js?id=prj:0a5718cd-aeff-4b34-9b24-d5b6195329af" crossorigin charset="utf-8"></script>
<script src="https://consent-manager.metomic.io/embed.js" crossorigin charset="utf-8"></script>