<section class="container">
    <div id="main-scroll-menu" class="container main-scroll-menu">


        <div class="col desk-flow-menu" id="flow-menu" style="top: -100%;">

            <a class="flow-hashtag" href="#">#simplycreate</a>
            <a class="flow-button" href="#">All Projects</a>
            <a class="flow-button" href="#">Acrylics</a>
            <a class="flow-button" href="#">Watercolour</a>
            <a class="flow-button" href="#">Gouache</a>
            <a class="flow-button" href="#">Oil</a>
            <a class="flow-button" href="#">Drawing</a>
            <a class="flow-button" href="#">About Simply®</a>

        </div>
    </div>
    <div class="scroll-menu" id="scroll-menu">
        <div class="col">
            <nav id="nav-main" class="navbar navbar-expand-lg navbar-light">
                <div class="scroll-menu-wrapper">
                    <img src="../dist/images/Group1239.svg">
                    <div class="menu-select-project col-md-6 col-lg-12  col-12">
                        <select name="country" aria-placeholder="All Project" class="menu-projects">
                            <option value="India">All Project</option>
                            <option value="austrailia">Australia</option>
                            <option value="Malaysia">Malaysia</option>
                        </select>
                    </div>
                    <button id="scrollToTop"><i class="arrow up"></i></button>

                </div>
            </nav>
        </div>
    </div>
</section>

<!-- <script>
    var $j = jQuery.noConflict();
    $j(document).ready(function() {

        // NOTE:
        // For desktops
        $j('.menu span.flyout-menu > a.has-submenu').on('click', function() {
            event.preventDefault();
            if ($j(this).hasClass('active')) {
                $j(this).removeClass('active');
            } else {
                $j(this).addClass('active');
                $j(this).parent().siblings().find('a.has-submenu').removeClass('active');
            }
        });

        $j('a.close-dropdown').on('click', function() {
            event.preventDefault();

            $j('.dropdown-menu').removeClass('show');
            $j('a.has-submenu').removeClass('active');
        });

        // // NOTE:
        // // For mobiles
        // if ($j(window).width() < 769) {
        //     $j('.menu > span a').on('click', function() {
        //         event.preventDefault();

        //         if ( $j(this).hasClass('active')) {
        //             $j(this).removeClass('active');
        //         } else {
        //             $j(this).addClass('active');
        //             $j(this).siblings().removeClass('active');
        //         }
        //     });
        // }

        var menuHeight = $j('.menu > a + .submenu').height();

        $j('.dropdown-menu').click(function(e) {
            e.stopPropagation();
        });

        var windowsize = $j(window).width();
        $j(window).resize(function() {
            windowsize = $j(window).width();
        });

        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
            var currentScrollPos = window.pageYOffset;
            if (windowsize < 992) {

                if (prevScrollpos > currentScrollPos) {
                    $j("#main-scroll-menu").css('top', 0);
                    $j("#scroll-menu").css('top', -$j("#scroll-menu").outerHeight());
                } else {
                    $j("#main-scroll-menu").css('top', -$j("#main-scroll-menu").outerHeight());
                    $j("#scroll-menu").css('top', 0);
                }

            } else {
                if (prevScrollpos > currentScrollPos) {
                    $j("#flow-menu").css('top', '-54px');
                } else {
                    $j("#flow-menu").css('top', '43px');
                }
            }
            prevScrollpos = currentScrollPos;
        }

        $j("#scrollToTop").click(function() {
            $j("html, body").animate({
                scrollTop: 0
            });
            return false;
        });
    });
</script> -->