<ul class="hazards">
    <li><i class="icons-dr coshh flammable" data-toggle="tooltip" data-placement="top" data-html="true"
            title="<strong>Warning</strong>:<br/>Fusce Sollicitudin Sem"></i></li>
    <li><i class="icons-dr coshh corrosive" data-toggle="tooltip" data-placement="top" data-html="true"
            title="<strong>Warning</strong>:<br/>Fusce Sollicitudin Sem"></i></li>
    <li><i class="icons-dr coshh caution" data-toggle="tooltip" data-placement="top" data-html="true"
            title="<strong>Warning</strong>:<br/>Fusce Sollicitudin Sem"></i></li>
    <li><i class="icons-dr coshh long-term-health-hazards" data-toggle="tooltip" data-placement="top" data-html="true"
            title="<strong>Warning</strong>:<br/>Fusce Sollicitudin Sem"></i></li>
    <li><i class="icons-dr coshh environmental-hazard" data-toggle="tooltip" data-placement="top" data-html="true"
            title="<strong>Warning</strong>:<br/>Fusce Sollicitudin Sem"></i></li>
    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H316</a></li>
</ul>