<div class="grid-item-download col-md-6 col-lg-4">
    <div class="grid-item-download--description">
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. </p>
    </div>
  <div class="grid-item-download--link">
    <a href="#" class="btn btn-dark mt-3 mb-6"><ion-icon name="cloud-download"></ion-icon> DOWNLOAD PDF</a>
  </div>
</div>