<div class="grid-item--card col-md-6 col-lg-4 mb-5">
    <div class="grid-item--card-body">
        <a href="#">
            <img class="card-img-top mb-3" src="https://picsum.photos/500/150" loading="lazy" alt="Card image cap">
        </a>
        <h5 class="grid-item--card-title">Grid Card Title</h5>
        <h6 class="grid-item--card-subtitle mb-2 text-muted">Grid Card Subtitle</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. </p>
    </div>
    <div class="grid-item--card-footer">
        <a href="#" class="btn btn-dark btn-block btn-download">
            <ion-icon name="cloud-download"></ion-icon> DOWNLOAD
        </a>
    </div>
</div>