<!--

Component:  Artist

-->

<a href="#" class="col-md-4 d-flex align-items-end border border-white grid-item grid-item-artist scale-background" style="background: url('https://picsum.photos/600/600');">
    <span class="p-5">
        <h2 class="text-white dymo">Françoise Nielly</h2>

        <p class="text-white dymo">Title: Female Portrait</p>

        <p class="text-white dymo">Materials: Oil on Canvas</p>

        <span href="#" class="btn btn-light">VIEW</span>
    </span>
</a>