<!--

Component:  Video

-->

<a class="col-md-4 border border-white grid-item grid-item-video p-5 bg-scale" style="background: url('https://picsum.photos/600/600');">
    <span>
        <span href="#" class="text-dark video-top"><i class="material-icons">play_circle_filled</i></span>
        <span class="video-middle">
            <p class="dymo">Screen printing process In at eros sit amet Leo pharetra elementum. Aenean fermentum ac lectus consectetur.</p>
        </span>
    </span>
    <span class="video-bottom">
        <span href="#" class="btn btn-dark mt-3">View</span>
    </span>
</a>