<!--

Component:  Technique

-->

<a target="_blank" class="col-md-4 d-flex align-items-end border border-white grid-item grid-item-technique bg-scale" style="background: url('https://picsum.photos/600/600');">
    <span class="p-5">
        <p class="dymo"><strong>Print reproduction process</strong>
        <br/>
        In at eros sit amet Leo pharetra elementum. Aenean fermentum ac lectus consectetur.</p>
    </span>
</a>