<div class="grid-item--finish col-md-4 col-lg-3">
    <div class="flip">
        <div class="grid-item--finish-summary">
            <div class="grid-item--finish-summary-swatch"
                style="background: #f3e50d url('https://picsum.photos/id/103/510/150') center center;"></div>

            <div class="grid-item--finish-summary-colour-title">
                <p><strong>Lemon Yellow</strong></p>
                <p><strong><strong>504</strong></strong></p>
            </div>

            <div class="grid-item--finish-summary-props">
                <p class="transparency">
                    <i class="icons-dr transparency opaque"></i>

                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </p>

                <p>PR112 / PR170</p>
            </div>

            <div class="grid-item--finish-summary-size">
                <!-- Icons -- Sizes -->
                @@include('components/grid-item--finish-icons-sizes.html')
            </div>

            <div class="grid-item--finish-summary-hazards">
                <!-- Icons -- Hazards -->
                @@include('components/grid-item--finish-icons-hazards.html')
            </div>

            <div class="grid-item--finish-summary-toggle">
                <!-- Icons -- More info -->
                <p class="more">More info</p>
            </div>
        </div>

        <div class="grid-item--finish-details">

            <div class="grid-item--finish-details-swatch"
                style="background: #f3e50d url('https://picsum.photos/id/103/255/75') center center;"></div>

            <div class="grid-item--finish-details-colour-title">
                <p><strong>Lemon Yellow</strong></p>
                <p>Colour code: <strong><strong>504</strong></strong></p>
            </div>

            <div class="grid-item--finish-details-props">
                <p class="transparency">
                    <i class="icons-dr transparency opaque"></i> <span>Opaque</span>
                </p>
                <p class="fastness">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i> <span>Permanent</span>
                </p>

                <p>Pigment: PW4 Zinc Oxide</p>
            </div>

            <div class="grid-item--finish-details-size">
                <p>Sizes available: 29.5ml, 250ml</p>
            </div>

            <div class="grid-item--finish-details-hazards">
                <!-- Hazards -->
                <p><strong>WARNING:</strong></p>
                <ul class="hazard-icon-titles">
                    <li>Environmental hazard</li>
                    <li>Flammable</li>
                </ul>

                <ul class="hazard-codes">
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H316</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H320</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H302</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H317</a></li>
                </ul>
            </div>

            <div class="grid-item--finish-details-toggle">
                <!-- Less info -->
                <p class="less">Less info</p>
            </div>
        </div>
    </div>
</div>

<div class="grid-item--finish col-md-4 col-lg-3">
    <div class="flip">
        <div class="grid-item--finish-summary">
            <div class="grid-item--finish-summary-swatch" style="background: #F15C2C;"></div>
            <div class="grid-item--finish-summary-colour-title">
                <p><strong>Cadmium Orange</strong></p>
                <p><strong>504</strong></p>
            </div>
            <div class="grid-item--finish-summary-props">
                <p class="transparency">
                    <i class="icons-dr transparency semi"></i>

                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>

                </p>

                <p>PR112 / PR170</p>
            </div>
            <div class="grid-item--finish-summary-size">
                <!-- Icons -- Sizes -->
                @@include('components/grid-item--finish-icons-sizes.html')
            </div>

            <div class="grid-item--finish-summary-hazards">
                <!-- Icons -- Hazards -->
                @@include('components/grid-item--finish-icons-hazards.html')
            </div>

            <div class="grid-item--finish-summary-toggle">
                <!-- Icons -- More info -->
                <p class="more">More info</p>
            </div>
        </div>

        <div class="grid-item--finish-details">
            <div class="grid-item--finish-details-swatch" style="background: #F15C2C;"></div>
            <div class="grid-item--finish-details-colour-title">
                <p><strong>Cadmium Orange</strong></p>
                <p>Colour code: <strong>504</strong></p>
            </div>
            <div class="grid-item--finish-details-props">
                <p class="transparency">
                    <i class="icons-dr transparency semi"></i> <span>Semi Opaque</span>
                </p>
                <p class="fastness">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <span>Normally Permanent</span>
                </p>

                <p>Pigment: PW4 Zinc Oxide</p>
            </div>
            <div class="grid-item--finish-details-size">
                <p>Sizes available: 29.5ml, 250ml</p>
            </div>

            <div class="grid-item--finish-details-hazards">
                <!-- Hazards -->
                <p><strong>WARNING:</strong></p>
                <ul class="hazard-icon-titles">
                    <li>Environmental hazard</li>
                    <li>Flammable</li>
                </ul>

                <ul class="hazard-codes">
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H316</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H320</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H302</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H317</a></li>
                </ul>
            </div>

            <div class="grid-item--finish-details-toggle">
                <!-- Less info -->
                <p class="less">Less info</p>
            </div>
        </div>
    </div>
</div>


<div class="grid-item--finish col-md-4 col-lg-3">
    <div class="flip">
        <div class="grid-item--finish-summary">
            <div class="grid-item--finish-summary-swatch" style="background: #EE3745;"></div>
            <div class="grid-item--finish-summary-colour-title">
                <p><strong>Cadmium Red Hue</strong></p>
                <p><strong>504</strong></p>
            </div>
            <div class="grid-item--finish-summary-props">
                <p class="transparency">
                    <i class="icons-dr transparency semi"></i>

                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </p>

                <p>PR112 / PR170</p>
            </div>
            <div class="grid-item--finish-summary-size">
                <!-- Icons -- Sizes -->
                @@include('components/grid-item--finish-icons-sizes.html')
            </div>

            <div class="grid-item--finish-summary-hazards">
                <!-- Icons -- Hazards -->
                @@include('components/grid-item--finish-icons-hazards.html')
            </div>

            <div class="grid-item--finish-summary-toggle">
                <!-- Icons -- More info -->
                <p class="more">More info</p>
            </div>
        </div>

        <div class="grid-item--finish-details">
            <div class="grid-item--finish-details-swatch" style="background: #EE3745;"></div>
            <div class="grid-item--finish-details-colour-title">
                <p><strong>Cadmium Red Hue</strong></p>
                <p>Colour code: <strong>504</strong></p>
            </div>
            <div class="grid-item--finish-details-props">
                <p class="transparency">
                    <i class="icons-dr transparency transparent"></i> <span>Transparent</span>
                </p>
                <p class="fastness">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>

                    <span>Moderately Permanent</span>
                </p>

                <p>Pigment: PW4 Zinc Oxide</p>
            </div>
            <div class="grid-item--finish-details-size">
                <p>Sizes available: 29.5ml, 250ml</p>
            </div>

            <div class="grid-item--finish-details-hazards">
                <!-- Hazards -->
                <p><strong>WARNING:</strong></p>
                <ul class="hazard-icon-titles">
                    <li>Environmental hazard</li>
                    <li>Flammable</li>
                </ul>

                <ul class="hazard-codes">
                    <li><a href="#" title="<stong>Warning</strong> H316 Causes mild skin irritation">H316</a></li>
                    <li><a href="#">H320</a></li>
                    <li><a href="#">H302</a></li>
                    <li><a href="#">H317</a></li>
                </ul>
            </div>

            <div class="grid-item--finish-details-toggle">
                <!-- Less info -->
                <p class="less">Less info</p>
            </div>
        </div>
    </div>
</div>


<div class="grid-item--finish col-md-4 col-lg-3">
    <div class="flip">
        <div class="grid-item--finish-summary">
            <div class="grid-item--finish-summary-swatch" style="background: #2F276C;"></div>
            <div class="grid-item--finish-summary-colour-title">
                <p><strong>Violet</strong></p>
                <p><strong>504</strong></p>
            </div>
            <div class="grid-item--finish-summary-props">
                <p class="transparency">
                    <i class="icons-dr transparency semi"></i>

                    <i class="material-icons">star</i>



                </p>

                <p>PR112 / PR170</p>
            </div>
            <div class="grid-item--finish-summary-size">
                <!-- Icons -- Sizes -->
                @@include('components/grid-item--finish-icons-sizes.html')
            </div>

            <div class="grid-item--finish-summary-hazards">
                <!-- Icons -- Hazards -->
                @@include('components/grid-item--finish-icons-hazards.html')
            </div>

            <div class="grid-item--finish-summary-toggle">
                <!-- Icons -- More info -->
                <p class="more">More info</p>
            </div>
        </div>

        <div class="grid-item--finish-details">
            <div class="grid-item--finish-details-swatch" style="background: #2F276C;"></div>
            <div class="grid-item--finish-details-colour-title">
                <p><strong>Violet</strong></p>
                <p>Colour code: <strong>504</strong></p>
            </div>
            <div class="grid-item--finish-details-props">
                <p class="transparency">
                    <i class="icons-dr transparency transparent"></i> <span>Transparent</span>
                </p>
                <p class="fastness">
                    <i class="material-icons">star</i>


                    <span>Fugitive</span>
                </p>

                <p>Pigment: PW4 Zinc Oxide</p>
            </div>
            <div class="grid-item--finish-details-size">
                <p>Sizes available: 29.5ml, 250ml</p>
            </div>

            <div class="grid-item--finish-details-hazards">
                <!-- Hazards -->
                <p><strong>WARNING:</strong></p>
                <ul class="hazard-icon-titles">
                    <li>Environmental hazard</li>
                    <li>Flammable</li>
                </ul>

                <ul class="hazard-codes">
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H316</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H320</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H302</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H317</a></li>
                </ul>
            </div>

            <div class="grid-item--finish-details-toggle">
                <!-- Less info -->
                <p class="less">Less info</p>
            </div>
        </div>
    </div>
</div>






<!-- SMALL VERSION -->


<div class="grid-item--finish col-md-4 col-lg-2">
    <div class="flip">
        <div class="grid-item--finish-summary">
            <div class="grid-item--finish-summary-swatch" style="background: #f3e50d;"></div>
            <div class="grid-item--finish-summary-colour-title">
                <p><strong>Lemon Yellow</strong></p>
                <p><strong>504</strong></p>
            </div>
            <div class="grid-item--finish-summary-props">
                <p class="transparency">
                    <i class="icons-dr transparency opaque"></i>

                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </p>

                <p>PR112 / PR170</p>
            </div>
            <div class="grid-item--finish-summary-size">
                <!-- Icons -- Sizes -->
                @@include('components/grid-item--finish-icons-sizes.html')
            </div>

            <div class="grid-item--finish-summary-hazards">
                <!-- Icons -- Hazards -->
                @@include('components/grid-item--finish-icons-hazards.html')
            </div>

            <div class="grid-item--finish-summary-toggle">
                <!-- Icons -- More info -->
                <p class="more">More info</p>
            </div>
        </div>

        <div class="grid-item--finish-details">
            <div class="grid-item--finish-details-swatch" style="background: #f3e50d;"></div>
            <div class="grid-item--finish-details-colour-title">
                <p><strong>Lemon Yellow</strong></p>
                <p>Colour code: <strong>504</strong></p>
            </div>
            <div class="grid-item--finish-details-props">
                <p class="transparency">
                    <i class="icons-dr transparency opaque"></i> <span>Opaque</span>
                </p>
                <p class="fastness">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i> <span>Permanent</span>
                </p>

                <p>Pigment: PW4 Zinc Oxide</p>
            </div>
            <div class="grid-item--finish-details-size">
                <p>Sizes available: 29.5ml, 250ml</p>
            </div>

            <div class="grid-item--finish-details-hazards">
                <!-- Hazards -->
                <p><strong>WARNING:</strong></p>
                <ul class="hazard-icon-titles">
                    <li>Environmental hazard</li>
                    <li>Flammable</li>
                </ul>

                <ul class="hazard-codes">
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H316</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H320</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H302</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H317</a></li>
                </ul>
            </div>

            <div class="grid-item--finish-details-toggle">
                <!-- Less info -->
                <p class="less">Less info</p>
            </div>
        </div>
    </div>
</div>

<div class="grid-item--finish col-md-4 col-lg-2">
    <div class="flip">
        <div class="grid-item--finish-summary">
            <div class="grid-item--finish-summary-swatch" style="background: #F15C2C;"></div>
            <div class="grid-item--finish-summary-colour-title">
                <p><strong>Cadmium Orange</strong></p>
                <p><strong>504</strong></p>
            </div>
            <div class="grid-item--finish-summary-props">
                <p class="transparency">
                    <i class="icons-dr transparency semi"></i>

                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </p>

                <p>PR112 / PR170</p>
            </div>
            <div class="grid-item--finish-summary-size">
                <!-- Icons -- Sizes -->
                @@include('components/grid-item--finish-icons-sizes.html')
            </div>

            <div class="grid-item--finish-summary-hazards">
                <!-- Icons -- Hazards -->
                @@include('components/grid-item--finish-icons-hazards.html')
            </div>

            <div class="grid-item--finish-summary-toggle">
                <!-- Icons -- More info -->
                <p class="more">More info</p>
            </div>
        </div>

        <div class="grid-item--finish-details">
            <div class="grid-item--finish-details-swatch" style="background: #F15C2C;"></div>
            <div class="grid-item--finish-details-colour-title">
                <p><strong>Cadmium Orange</strong></p>
                <p>Colour code: <strong>504</strong></p>
            </div>
            <div class="grid-item--finish-details-props">
                <p class="transparency">
                    <i class="icons-dr transparency semi"></i> <span>Semi Opaque</span>
                </p>
                <p class="fastness">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <span>Normally Permanent</span>
                </p>

                <p>Pigment: PW4 Zinc Oxide</p>
            </div>
            <div class="grid-item--finish-details-size">
                <p>Sizes available: 29.5ml, 250ml</p>
            </div>

            <div class="grid-item--finish-details-hazards">
                <!-- Hazards -->
                <p><strong>WARNING:</strong></p>
                <ul class="hazard-icon-titles">
                    <li>Environmental hazard</li>
                    <li>Flammable</li>
                </ul>

                <ul class="hazard-codes">
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H316</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H320</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H302</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H317</a></li>
                </ul>
            </div>

            <div class="grid-item--finish-details-toggle">
                <!-- Less info -->
                <p class="less">Less info</p>
            </div>
        </div>
    </div>
</div>


<div class="grid-item--finish col-md-4 col-lg-2">
    <div class="flip">
        <div class="grid-item--finish-summary">
            <div class="grid-item--finish-summary-swatch" style="background: #EE3745;"></div>
            <div class="grid-item--finish-summary-colour-title">
                <p><strong>Cadmium Red Hue</strong></p>
                <p><strong>504</strong></p>
            </div>
            <div class="grid-item--finish-summary-props">
                <p class="transparency">
                    <i class="icons-dr transparency semi"></i>

                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </p>

                <p>PR112 / PR170</p>
            </div>
            <div class="grid-item--finish-summary-size">
                <!-- Icons -- Sizes -->
                @@include('components/grid-item--finish-icons-sizes.html')
            </div>

            <div class="grid-item--finish-summary-hazards">
                <!-- Icons -- Hazards -->
                @@include('components/grid-item--finish-icons-hazards.html')
            </div>

            <div class="grid-item--finish-summary-toggle">
                <!-- Icons -- More info -->
                <p class="more">More info</p>
            </div>
        </div>

        <div class="grid-item--finish-details">
            <div class="grid-item--finish-details-swatch" style="background: #EE3745;"></div>
            <div class="grid-item--finish-details-colour-title">
                <p><strong>Cadmium Red Hue</strong></p>
                <p>Colour code: <strong>504</strong></p>
            </div>
            <div class="grid-item--finish-details-props">
                <p class="transparency">
                    <i class="icons-dr transparency transparent"></i> <span>Transparent</span>
                </p>
                <p class="fastness">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>

                    <span>Moderately Permanent</span>
                </p>

                <p>Pigment: PW4 Zinc Oxide</p>
            </div>
            <div class="grid-item--finish-details-size">
                <p>Sizes available: 29.5ml, 250ml</p>
            </div>

            <div class="grid-item--finish-details-hazards">
                <!-- Hazards -->
                <p><strong>WARNING:</strong></p>
                <ul class="hazard-icon-titles">
                    <li>Environmental hazard</li>
                    <li>Flammable</li>
                </ul>

                <ul class="hazard-codes">
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H316</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H320</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H302</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H317</a></li>
                </ul>
            </div>

            <div class="grid-item--finish-details-toggle">
                <!-- Less info -->
                <p class="less">Less info</p>
            </div>
        </div>
    </div>
</div>


<div class="grid-item--finish col-md-4 col-lg-2">
    <div class="flip">
        <div class="grid-item--finish-summary">
            <div class="grid-item--finish-summary-swatch" style="background: #2F276C;"></div>
            <div class="grid-item--finish-summary-colour-title">
                <p><strong>Violet</strong></p>
                <p><strong>504</strong></p>
            </div>
            <div class="grid-item--finish-summary-props">
                <p class="transparency">
                    <i class="icons-dr transparency semi"></i>

                    <i class="material-icons">star</i>
                </p>

                <p>PR112 / PR170</p>
            </div>
            <div class="grid-item--finish-summary-size">
                <!-- Icons -- Sizes -->
                @@include('components/grid-item--finish-icons-sizes.html')
            </div>

            <div class="grid-item--finish-summary-hazards">
                <!-- Icons -- Hazards -->
                @@include('components/grid-item--finish-icons-hazards.html')
            </div>

            <div class="grid-item--finish-summary-toggle">
                <!-- Icons -- More info -->
                <p class="more">More info</p>
            </div>
        </div>

        <div class="grid-item--finish-details">
            <div class="grid-item--finish-details-swatch" style="background: #2F276C;"></div>
            <div class="grid-item--finish-details-colour-title">
                <p><strong>Violet</strong></p>
                <p>Colour code: <strong>504</strong></p>
            </div>
            <div class="grid-item--finish-details-props">
                <p class="transparency">
                    <i class="icons-dr transparency transparent"></i> <span>Transparent</span>
                </p>
                <p class="fastness">
                    <i class="material-icons">star</i>
                    <span>Fugitive</span>
                </p>

                <p>Pigment: PW4 Zinc Oxide</p>
            </div>
            <div class="grid-item--finish-details-size">
                <p>Sizes available: 29.5ml, 250ml</p>
            </div>

            <div class="grid-item--finish-details-hazards">
                <!-- Hazards -->
                <p><strong>WARNING:</strong></p>
                <ul class="hazard-icon-titles">
                    <li>Environmental hazard</li>
                    <li>Flammable</li>
                </ul>

                <ul class="hazard-codes">
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H316</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H320</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H302</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H317</a></li>
                </ul>
            </div>

            <div class="grid-item--finish-details-toggle">
                <!-- Less info -->
                <p class="less">Less info</p>
            </div>
        </div>
    </div>
</div>


<div class="grid-item--finish col-md-4 col-lg-2">
    <div class="flip">
        <div class="grid-item--finish-summary">
            <div class="grid-item--finish-summary-swatch" style="background: #C3203D;"></div>
            <div class="grid-item--finish-summary-colour-title">
                <p><strong>Crimson</strong></p>
                <p><strong>504</strong></p>
            </div>
            <div class="grid-item--finish-summary-props">
                <p class="transparency">
                    <i class="icons-dr transparency semi"></i>

                    <i class="material-icons">star</i>
                </p>

                <p>PR112 / PR170</p>
            </div>
            <div class="grid-item--finish-summary-size">
                <!-- Icons -- Sizes -->
                @@include('components/grid-item--finish-icons-sizes.html')
            </div>

            <div class="grid-item--finish-summary-hazards">
                <!-- Icons -- Hazards -->
                @@include('components/grid-item--finish-icons-hazards.html')
            </div>

            <div class="grid-item--finish-summary-toggle">
                <!-- Icons -- More info -->
                <p class="more">More info</p>
            </div>
        </div>

        <div class="grid-item--finish-details">
            <div class="grid-item--finish-details-swatch" style="background: #C3203D;"></div>
            <div class="grid-item--finish-details-colour-title">
                <p><strong>Crimson</strong></p>
                <p>Colour code: <strong>504</strong></p>
            </div>
            <div class="grid-item--finish-details-props">
                <p class="transparency">
                    <i class="icons-dr transparency transparent"></i> <span>Transparent</span>
                </p>
                <p class="fastness">
                    <i class="material-icons">star</i>
                    <span>Fugitive</span>
                </p>

                <p>Pigment: PW4 Zinc Oxide</p>
            </div>
            <div class="grid-item--finish-details-size">
                <p>Sizes available: 29.5ml, 250ml</p>
            </div>

            <div class="grid-item--finish-details-hazards">
                <!-- Hazards -->
                <p><strong>WARNING:</strong></p>
                <ul class="hazard-icon-titles">
                    <li>Environmental hazard</li>
                    <li>Flammable</li>
                </ul>

                <ul class="hazard-codes">
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H316</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H320</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H302</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H317</a></li>
                </ul>
            </div>

            <div class="grid-item--finish-details-toggle">
                <!-- Less info -->
                <p class="less">Less info</p>
            </div>
        </div>
    </div>
</div>


<div class="grid-item--finish col-md-4 col-lg-2">
    <div class="flip">
        <div class="grid-item--finish-summary">
            <div class="grid-item--finish-summary-swatch" style="background: #002238;"></div>
            <div class="grid-item--finish-summary-colour-title">
                <p><strong>Indigo</strong></p>
                <p><strong>504</strong></p>
            </div>
            <div class="grid-item--finish-summary-props">
                <p class="transparency">
                    <i class="icons-dr transparency semi"></i>

                    <i class="material-icons">star</i>
                </p>

                <p>PR112 / PR170</p>
            </div>
            <div class="grid-item--finish-summary-size">
                <!-- Icons -- Sizes -->
                @@include('components/grid-item--finish-icons-sizes.html')
            </div>

            <div class="grid-item--finish-summary-hazards">
                <!-- Icons -- Hazards -->
                @@include('components/grid-item--finish-icons-hazards.html')
            </div>

            <div class="grid-item--finish-summary-toggle">
                <!-- Icons -- More info -->
                <p class="more">More info</p>
            </div>
        </div>

        <div class="grid-item--finish-details">
            <div class="grid-item--finish-details-swatch" style="background: #002238;"></div>
            <div class="grid-item--finish-details-colour-title">
                <p><strong>Indigo</strong></p>
                <p>Colour code: <strong>504</strong></p>
            </div>
            <div class="grid-item--finish-details-props">
                <p class="transparency">
                    <i class="icons-dr transparency transparent"></i> <span>Transparent</span>
                </p>
                <p class="fastness">
                    <i class="material-icons">star</i>
                    <span>Fugitive</span>
                </p>

                <p>Pigment: PW4 Zinc Oxide</p>
            </div>
            <div class="grid-item--finish-details-size">
                <p>Sizes available: 29.5ml, 250ml</p>
            </div>

            <div class="grid-item--finish-details-hazards">
                <!-- Hazards -->
                <p><strong>WARNING:</strong></p>
                <ul class="hazard-icon-titles">
                    <li>Environmental hazard</li>
                    <li>Flammable</li>
                </ul>

                <ul class="hazard-codes">
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H316</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H320</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H302</a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" data-html="true"
                            title="<strong>Warning</strong>:<br/>H316 Causes mild skin irritation">H317</a></li>
                </ul>
            </div>

            <div class="grid-item--finish-details-toggle">
                <!-- Less info -->
                <p class="less">Less info</p>
            </div>
        </div>
    </div>
</div>



<script>
    var $j = jQuery.noConflict();
    $j(document).ready(function () {

        $j('div.grid-item--finish').on('click', function () {
            $j(this).toggleClass('active');
        });

    });
</script>