<!--

Component:  Item List / Panel?

-->

<div class="col-md-6 mb-5">
    <div class="row">
        <div class="col-lg-5">
            <a href="#">
                <img src="https://picsum.photos/id/201/500/500" loading="lazy" alt="...">
            </a>
        </div>
        <div class="col mt-3 mt-lg-0">
            <h3>Daler-Rowney Screens and Squeegee</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales mollis enim, id feugiat est suscipit interdum.</p>
            <a href="" class="btn btn-dark btn-lg text-uppercase">View products</a>
        </div>
    </div>
</div>