<!--

Component:  Inspiration

-->

<a href="#" class="col-md-4 p-5 pt-7 d-flex align-items-start border border-white grid-item grid-item-inspiration bg-scale" style="background: url('https://picsum.photos/600/600');">
    <span>
        <h2 class="text-light dymo dymo-opaque">Inspiration</h2>
        <h3 class="text-dark dymo">Just for you</h3>
        <p class="mt-4 text-dark dymo dymo-light">Tell us what inspires you and get your own personalised experience.</p>
        <span href="#" class="mt-3 btn btn-dark">INSPIRE ME</span>
    </span>
</a>
