<div class="hub-item col-md-4 mb-6 mt-2">
    <img src="https://picsum.photos/500/150" loading="lazy" alt="..." srcset="https://picsum.photos/500/150">
    <h3 class="mt-3 mb-3">Acrylics</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate hendrerit finibus. Donec id pulvinar lacus. Suspendisse potenti. In hac habitasse platea dictumst. In nibh nibh, pretium semper nunc ullamcorper, posuere sagittis ante. </p>
    <a href="#" class="btn btn-block btn-dark">View our Acrylic ranges</a>
</div>