<!--
// NOTES:
// use username as part of the build below.
// in this case "daler_rowney" can be addded to the profile link, javascript setup & div id
-->

<div class="instagram-feed pt-5">
    <h4><a href="http://instagram.com/instagram" target="_blank" rel="noopener noreferrer">From Instagram <ion-icon
                name="logo-instagram" role="img" class="md hydrated" aria-label="logo instagram"></ion-icon></a></h4>

    <div id="instagram-feed-daler_rowney" class="instafeed"></div>

    <!-- The Token Agent service - make sure to use your own URL here -->
    <script
        src='https://ig.instant-tokens.com/users/aee42767-9ce0-4181-9266-ef8949a2c057/instagram/17841409033193500/token.js?userSecret=cx30izkanmtdo9r4rly6i4'>
    </script>

    <!-- The Instafeed.js library (Don't use this URL in production!) -->
    <script src='https://cdn.jsdelivr.net/npm/instafeed.js@2.0.0/dist/instafeed.min.js'></script>


    <!-- Run instafeed -->
    <script type="text/javascript">
        var feed = new Instafeed({
            get: 'user',
            userId: '11047347',
            accessToken: 'IGQVJYR3ZA2WEp3SHVSYUowaHBkZA0g3Nkx4SzdqT2lGQm5sMVBRdVdNdjN3RGpheTdMcm1yMm1HcnFIVXlrWHlpNjhsbGFXV3VoUi05OFFtR3ZACYnpteHh4R2h2MDROb2lBcG5zbXMwNHVxMUliUmJmYQZDZD',
            resolution: 'standard_resolution',
            target: 'instagram-feed-daler_rowney',
            template: '<a href="{{link}}" target="_blank" id="{{id}}"><img src="{{image}}" title="{{caption}}" data-toggle="tooltip" data-placement="top"/></a>',
            sortBy: 'most-recent',
            limit: 8
        });
        feed.run();
    </script>

    <!-- Alternative 3rd party method -->
    <div data-behold-id="gwntIwnnP7yvwzCURC9x"></div>
    <script src="https://widgets.behold.so/ig.js" defer></script>
</div>