<!--
// NOTE:
// CSS classes for changing text colours:
// text-dark    = Black -- used below
// text-light   = White -- option in cms
-->

<div class="jumbo-intro" style="background-image: url('https://picsum.photos/id/202/1900/600');">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <img src="https://picsum.photos/id/201/392/96" loading="lazy" alt="...">

                <h1 class="mt-5 mb-5 text-dark">System3 acrylics are highly versatile water-based acrylic colours.</h1>

                <p class="text-dark">Acrylics, heavy body and screen printing acrylics, inks, mediums, brushes, pads, and artboards offer artists of all levels of expertise a complete acrylic suite of perfectly compatible products.</p>
            </div>
        </div>
    </div>
</div>