<ul class="key">
    <li class="title">Hazards:</li>
    <li><i class="icons-dr coshh flammable"></i> Flammable</li>
    <li><i class="icons-dr coshh corrosive"></i> Corrosive</li>
    <li><i class="icons-dr coshh caution"></i> Harmful</li>
    <li><i class="icons-dr coshh long-term-health-hazards"></i> Health hazard</li>
    <li><i class="icons-dr coshh environmental-hazard"></i> Environmental hazard</li>
</ul>