<ul class="key key--lightfastness w-100">
    <li class="title">LIGHT FASTNESS:</li>
    <li><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i> Permanent</li>
    <li><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> Normally Permanent</li>
    <li><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> Moderately Permanent</li>
    <li><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> Fugitive</li>
</ul>

<a href="" class="mt-2 text-dark">Link Here</a>