<div class="key key--sizes">
    <div class="key-size row">
        <div class="col-12">
            <p class="title">Sizes:</p>
        </div>

        <div class="key-size--item col-3 col-md-2">
            <div class="key-size--item-icon">
                <img
                src="../dist/images/pots/2x/29-fill@2x.png"
                srcset="../dist/images/pots/svg/29-fill.svg"
                alt="Daler-Rowney"
                loading="lazy"
                />
            </div>
            <div class="key-size--item-description">
                <p>29ml</p>
            </div>
        </div>

        <div class="key-size--item col-3 col-md-2">
            <div class="key-size--item-icon">
                <img
                src="../dist/images/pots/2x/38-59-75-fill@2x.png"
                srcset="../dist/images/pots/svg/38-59-75-fill.svg"
                alt="Daler-Rowney"
                loading="lazy"
                />
            </div>
            <div class="key-size--item-description">
                <p>38ml</p>
            </div>
        </div>

        <div class="key-size--item col-3 col-md-2">
            <div class="key-size--item-icon">
                <img
                src="../dist/images/pots/2x/38-59-75-fill@2x.png"
                srcset="../dist/images/pots/svg/38-59-75-fill.svg"
                alt="Daler-Rowney"
                loading="lazy"
                />
            </div>
            <div class="key-size--item-description">
                <p>59ml</p>
            </div>
        </div>

        <div class="key-size--item col-3 col-md-2">
            <div class="key-size--item-icon">
                <img
                src="../dist/images/pots/2x/38-59-75-fill@2x.png"
                srcset="../dist/images/pots/svg/38-59-75-fill.svg"
                alt="Daler-Rowney"
                loading="lazy"
                />
            </div>
            <div class="key-size--item-description">
                <p>75ml</p>
            </div>
        </div>

        <div class="key-size--item col-3 col-md-2">
            <div class="key-size--item-icon">
                <img
                src="../dist/images/pots/2x/120-150-fill@2x.png"
                srcset="../dist/images/pots/svg/120-150-fill.svg"
                alt="Daler-Rowney"
                loading="lazy"
                />
            </div>
            <div class="key-size--item-description">
                <p>120ml</p>
            </div>
        </div>

        <div class="key-size--item col-3 col-md-2">
            <div class="key-size--item-icon">
                <img
                src="../dist/images/pots/2x/120-150-fill@2x.png"
                srcset="../dist/images/pots/svg/120-150-fill.svg"
                alt="Daler-Rowney"
                loading="lazy"
                />
            </div>
            <div class="key-size--item-description">
                <p>150ml</p>
            </div>
        </div>

        <div class="key-size--item col-3 col-md-2">
            <div class="key-size--item-icon">
                <img
                src="../dist/images/pots/2x/180-fill@2x.png"
                srcset="../dist/images/pots/svg/180-fill.svg"
                alt="Daler-Rowney"
                loading="lazy"
                />
            </div>
            <div class="key-size--item-description">
                <p>180ml</p>
            </div>
        </div>

        <div class="key-size--item col-3 col-md-2">
            <div class="key-size--item-icon">
                <img
                src="../dist/images/pots/2x/225-fill@2x.png"
                srcset="../dist/images/pots/svg/225-fill.svg"
                alt="Daler-Rowney"
                loading="lazy"
                />
            </div>
            <div class="key-size--item-description">
                <p>225ml</p>
            </div>
        </div>

        <div class="key-size--item col-3 col-md-2">
            <div class="key-size--item-icon">
                <img
                src="../dist/images/pots/2x/250-fill@2x.png"
                srcset="../dist/images/pots/svg/250-fill.svg"
                alt="Daler-Rowney"
                loading="lazy"
                />
            </div>
            <div class="key-size--item-description">
                <p>250ml</p>
            </div>
        </div>

        <div class="key-size--item col-3 col-md-2">
            <div class="key-size--item-icon">
                <img
                src="../dist/images/pots/2x/500-fill@2x.png"
                srcset="../dist/images/pots/svg/500-fill.svg"
                alt="Daler-Rowney"
                loading="lazy"
                />
            </div>
            <div class="key-size--item-description">
                <p>500ml</p>
            </div>
        </div>

        <div class="key-size--item col-3 col-md-2">
            <div class="key-size--item-icon">
                <img
                src="../dist/images/pots/2x/1l-fill@2x.png"
                srcset="../dist/images/pots/svg/1l-fill.svg"
                alt="Daler-Rowney"
                loading="lazy"
                />
            </div>
            <div class="key-size--item-description">
                <p>1L</p>
            </div>
        </div>
    </div>
</div>