<ul class="key key--transparency">
    <li class="title">TRANSPARENCY:</li>
    <li><i class="dr-icons transparency opaque"></i> Opaque</li>
    <li><i class="dr-icons transparency semi"></i> Semi Opaque</li>
    <li><i class="dr-icons transparency transparent"></i> Transparent</li>
</ul>