<section id="all-projects" class="projects-section">
    <div class="container">
        <div class="row">
            <div class="down-arrow-container col-lg-3"> <img src="https://via.placeholder.com/50x150.png" alt="">
            </div>
            <div class="simply-project-container col-lg-9">
                <div class="simply-project-header col-lg-9 col-6">
                    <h1 class="simply-project-title">Simply® Projects</h1>
                    <!-- <p class="simply-project-description-desktop col-12">The Simply range is designed to give budding and beginner artists alike the chance to try something new, simply paint, simply draw, simply create!</p> -->
                </div>
                <div class="img-container col-lg-3 offset-lg-0 offset-1 col-5 "> <img src="https://via.placeholder.com/135x109.png" alt=""> </div>
                <div class="simply-project-sub-title-container">
                    <p class="simply-project-sub-title col-lg-9">Take a look at our selection of creative #simplycreate projects.
                    </p>
                    <div class="simply-project-description col-lg-9">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
            <div class="select-project-container">
                <div class="select-project-header col-md-6 offset-lg-1 col-lg-11 col-12">
                    <h3 class="select-project-title">Simply get started. Select a project.</h3>
                </div>
                <div class="select-project col-md-6 col-lg-12  col-12"> <select id="country_selector" name="country" aria-placeholder="All Project" class="projects">
                        <option value="(acrylic watercolour gouache oil drawing )">All Project</option>
                        <option value="acrylic">Acrylic</option>
                        <option value="watercolour">Watercolour</option>
                        <option value="gouache">Gouache</option>
                        <option value="oil">Oil</option>
                        <option value="drawing">Drawing</option>
                    </select> </div>
            </div>
            <div class="d-flex flex-wrap" id="projects_search">
                <div class="card-container col-lg-4 col-md-6 col-12"><img class="card-image" src="https://via.placeholder.com/352x238.png" alt="">
                    <h6 class="card-title">Paint Jungle Plants</h6>
                    <p class="card-description">Learn Learn how to create amazing, vibrant jungle plants with only 6 colours #simplycreate..</p><a href="/discover/techniques/project-three" class="card-button project-acrylic "> View acrylic project </a>
                </div>
                <div class="card-container col-lg-4 col-md-6 col-12"><img class="card-image" src="https://via.placeholder.com/352x238.png" alt="">
                    <h6 class="card-title">Paint Jungle Plants</h6>
                    <p class="card-description">Learn Learn how to create amazing, vibrant jungle plants with only 6 colours #simplycreate..</p><a href="/discover/techniques/project-three" class="card-button project-acrylic "> View acrylic project </a>
                </div>
                <div class="card-container col-lg-4 col-md-6 col-12"><img class="card-image" src="https://via.placeholder.com/352x238.png" alt="">
                    <h6 class="card-title">Paint Jungle Plants</h6>
                    <p class="card-description">Learn Learn how to create amazing, vibrant jungle plants with only 6 colours #simplycreate..</p><a href="/discover/techniques/project-three" class="card-button project-acrylic "> View acrylic project </a>
                </div>
                <div class="card-container col-lg-4 col-md-6 col-12"><img class="card-image" src="https://via.placeholder.com/352x238.png" alt="">
                    <h6 class="card-title">Paint Jungle Plants</h6>
                    <p class="card-description">Learn Learn how to create amazing, vibrant jungle plants with only 6 colours #simplycreate..</p><a href="/discover/techniques/project-three" class="card-button project-acrylic "> View acrylic project </a>
                </div>
                <div class="card-container col-lg-4 col-md-6 col-12"><img class="card-image" src="https://via.placeholder.com/352x238.png" alt="">
                    <h6 class="card-title">Paint Jungle Plants</h6>
                    <p class="card-description">Learn Learn how to create amazing, vibrant jungle plants with only 6 colours #simplycreate..</p><a href="/discover/techniques/project-three" class="card-button project-acrylic "> View acrylic project </a>
                </div>
                <div class="card-container col-lg-4 col-md-6 col-12"><img class="card-image" src="https://via.placeholder.com/352x238.png" alt="">
                    <h6 class="card-title">Paint Jungle Plants</h6>
                    <p class="card-description">Learn Learn how to create amazing, vibrant jungle plants with only 6 colours #simplycreate..</p><a href="/discover/techniques/project-three" class="card-button project-acrylic "> View acrylic project </a>
                </div>
            </div>
        </div>
    </div>
    <div class="left-img"> <img src="https://via.placeholder.com/491x800.png" alt=""> </div>
</section>