<div class="container mt-5 recommended-products">

    <div class="row">

        <div class="col-12 mb-5">
            <h3>More System 3 products</h3>
        </div>


        <div class="col-md-4">
            <div class="recommended-product" style="background-image: url('dist/images/temp/image22@2x.png');">
                <a href="#" class="">
                    <h3>Acrylic Colour Sets</h3>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="recommended-product" style="background-image: url('dist/images/temp/image22@2x.png');">
                <a href="#" class="">
                    <h3>Acrylic Colour Sets</h3>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="recommended-product" style="background-image: url('dist/images/temp/image22@2x.png');">
                <a href="#" class="">
                    <h3>Acrylic Colour Sets</h3>
                </a>
            </div>
        </div>

    </div>

</div>