<a href="range.html" class="result-item product">
    <div class="result-item-image">
        <img src="https://picsum.photos/id/201/184/184" loading="lazy" class="d-block w-100" alt="...">
    </div>
    <div class="result-item-data">
        <div class="result-item-title">
            <h2>Geogian Oil Diluents, Mediums and Varnishes</h2>
        </div>

        <div class="result-item-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate hendrerit finibus. Donec id pulvinar lacus. Suspendisse potenti. In hac habitasse platea dictumst.</p>
        </div>

        <div class="result-item-tags">
            <ul class="tags">
                <li class="level"><strong>Suitable for all levels</strong>
                    Typically: Intermediate</li>
                <li class="base">Water based</li>
            </ul>
        </div>
    </div>
</a>