<div class="result-item inspiration">
    <div class="result-item-image">
        <a href="product.html"><img src="https://picsum.photos/id/201/184/184" loading="lazy" class="d-block w-100" alt="..."></a>
    </div>
    <div class="result-item-data">
        <div class="result-item-title">
            <h2><a href="product.html">System 3 Acrylic</a></h2>
        </div>

        <div class="result-item-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate hendrerit finibus. Donec id pulvinar lacus. Suspendisse potenti. In hac habitasse platea dictumst.</p>
        </div>

        <div class="result-item-tags">
            <ul class="tags">
                <li>Acrylic</li>
            </ul>
        </div>
    </div>
</div>