<form class="search search-form">

    <label for="inputProductSearch" class="col-form-label">Search site for</label>

    <input type="text" class="form-control" id="inputProductSearch" placeholder="Search" value="">

    <button type="submit" class="btn btn-light"><ion-icon name="search"></ion-icon></button>

</form>