<!--

Component:  Signpost - Fixed width

-->

<div class="related-items useful-products container-fluid mt-5 pt-5 mb-3 signpost-fixed-width">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">

                <div class="col-md-8 mb-md-5">
                    <h1 class="title-page mb-0 font-weight-light">Useful products for this technique</h1>
                </div>

                <div class="col-md-4 mb-md-5 d-md-flex align-items-center justify-content-end">
                    <a href="#More-Products">More Products</a>
                </div>

                <!-- Grid Item -- Item List -->
                @@include('components/grid-item--item-list.html')
                @@include('components/grid-item--item-list.html')
                @@include('components/grid-item--item-list.html')
                @@include('components/grid-item--item-list.html')

                </div>
            </div>
        </div>
    </div>
</div>