<!--
// Component:  Signpost - Stockist Banner
-->

<div id="banner-stockist" class="search">
    <div class="container">
        <div class="row">
            <div class="col-2 col-md-1 offset-md-1 offset-lg-0">
                <i class="material-icons">room</i>
            </div>

            <div class="col-10 col-lg-5">
                <p>Where to buy Daler-Rowney products</p>
                <p>Use our Store Locator to find your nearest stockists.</p>
            </div>

            <div class="col-12 col-md-11 col-lg-6 offset-md-1 offset-lg-0 mt-3 mt-lg-0 d-flex align-items-center">
                <!-- Store Locator -->
                <div class="row">
                    <div class="col-sm-6">
                        <form class="search current-location" method="post">

                            <label for="searhbarpostalcode" class="col-form-label sr-only">Store locator</label>

                            <input class="form-control searhbarpostalcode" type="text" required="" value="" name="searhbarpostalcode" placeholder="Enter postcode">

                            <inputs type="submit" class="btn btn-light">
                                <ion-icon name="search"></ion-icon>
                            </inputs>

                        </form>
                    </div>

                    <div class="col-sm-6">
                        <form class="search store mt-3 mt-md-0">
                            <label for="searhbarcurrentlocation" class="col-form-label">Use my current location</label>

                            <input type="hidden" class="form-control" id="searhbarcurrentlocation">

                            <a class="btn btn-light ml-3"><i class="material-icons">location_searching</i></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>