<!--

Component:  Signpost - Full width

-->

<a class="signpost signpost-full-width bg-scale container-fluid" style="background: url('https://picsum.photos/1900/600');">
    <div class="row">
        <div class="col">
            <div class="row d-flex">
                <div class="col-12 p-5"></div>
                <div class="col-md-4 offset-md-2">
                    <h4 class="text-light">Featured Artists</h4>
                    <h2 class="text-light font-weight-bold">Chitra Pawar</h2>
                    <p class="text-light">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <span href="#" class="btn btn-dark">FIND PRODUCTS</span>
                </div>
            </div>
        </div>
    </div>
</a>
