<!--

<ul class="social-share-list horizontal"> For on page links

OR

<ul class="social-share-list vertical"> For floating links

 -->

<aside class="social-share social-links">
    <ul class="social-share-list horizontal">
        <li class="label">Share</li>
        <li class="website"><a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-white"><ion-icon name="globe"></ion-icon></a></li>
        <li class="email"><a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-white"><ion-icon name="mail"></ion-icon></a></li>
        <li class="instagram"><a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-white"><ion-icon name="logo-instagram"></ion-icon></a></li>
        <li class="facebook"><a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-white"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li class="twitter"><a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-white"><ion-icon name="logo-twitter"></ion-icon></a></li>
        <li class="youtube"><a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-white"><ion-icon name="logo-youtube"></ion-icon></a></li>
    </ul>
</aside>