<!--

<ul class="social-share-list horizontal"> For on page links

OR

<ul class="social-share-list vertical"> For floating links

 -->

<section class="col social-share">

    <h4>Share your work with <span>#System3Acrylic</span></h4>

    <!--
        For use within the href's of the share links

        [MEDIA]     URL of image
        [URL]       URL of of page
        [TITLE]     Title or text to go in to post
     -->

    <aside class="social-share social-links">
        <ul class="social-share-list horizontal">
            <li class="label">Share</li>
            <li class="email">
                <a
                    href="mailto:?body=%23system3Actylic"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-white">
                    <ion-icon name="mail"></ion-icon>
                </a>
            </li>
            <li class="pinterest">
                <a
                    href="http://pinterest.com/pin/create/bookmarklet/?media=[MEDIA]&url=[URL]&is_video=false&description=[TITLE]%0A[URL]%0A%0A%23System3Acrylic"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-white">
                    <ion-icon name="logo-pinterest"></ion-icon>
                </a>
            </li>
            <li class="facebook">
                <a
                    href="http://www.facebook.com/sharer/sharer.php?u=[URL]&title=[TITLE]%0A%23System3Acrylic"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-white">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li class="twitter">
                <a
                    href="http://twitter.com/intent/tweet?original_referer=[URL]&text=[TITLE]&url=[URL]"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-white">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </li>
        </ul>
    </aside>
</section>