<div class="container text-and-image-block">
    <div class="row">
        <div class="col-md-6">
            @@include('components/content--text.html')
        </div>

        <div class="col-md-6">
            @@include('components/content--image.html')
        </div>
    </div>
</div>