<div class="container text-and-gallery-block">
    <div class="row">
        <div class="col-12">
            <h2 class="title-section">Section Title</h2>
        </div>

        <div class="col-md-6">
            <h1 class="title-page">Main Title</h1>

            @@include('components/content--text.html')

        </div>

        <div class="col-md-6">
            @@include('components/carousel-vertical.html')
        </div>
    </div>
</div>