<article class="timeline">
    <div class="container">
        <div class="row">
            <div class="header">
                <h5 class="sub-heading">OUR</h5>
                <h1 class="heading">HISTORY</h1>
            </div>
            <div class="col-md-2 timeline--nav-container">

                <nav class="timeline--nav">
                    <ul class="timeline--list">
                        <li><span>2020 - Feb</span></li>
                        <li><span>2020 - Jan</span></li>
                        <li><span>2018</span></li>
                        <li><span>2017</span></li>
                        <li><span>2016</span></li>
                        <li><span>2015</span></li>
                        <li><span>2014</span></li>
                        <li><span>2013</span></li>
                        <li><span>2012</span></li>
                        <li><span>2011</span></li>
                    </ul>
                </nav>
            </div>
            <div class="col">

                <section class="timeline--section">
                    <div class="wrapper">
                        <div class="milestone">
                            <div class="row">
                                <div class="col offset-md-1 right video order-md-last">
                                    <div class="background-image"
                                        style="background-image: url('https://picsum.photos/id/10/2100/2000');">


                                        <div class="video trigger" data-toggle="modal"
                                            data-src="https://player.vimeo.com/video/58385453?badge=0"
                                            data-target="#timeline--modal--video">
                                            <img src="https://picsum.photos/id/10/2100/2000" class="img-fluid w-100" />
                                        </div>


                                    </div>
                                </div>
                                <div class="col-12 col-md-5 order-md-first">
                                    <h2>2020 - Feb -- Title goes here</h2>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a velit sem.
                                    </h3>
                                    <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis
                                        risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed
                                        consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
                                    <p>
                                        <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet,
                                            consectetur
                                            adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam
                                            quis
                                            risus eget urna mollis ornare vel eu leo.</p>
                                        <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed
                                            consectetur. Cras mattis consectetur purus sit amet fermentum.</p>

                                        <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet,
                                            consectetur
                                            adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla.
                                            Nullam quis
                                            risus eget urna mollis ornare vel eu leo.</p>
                                        <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla
                                            sed
                                            consectetur. Cras mattis consectetur purus sit amet fermentum.</p>

                                        <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet,
                                            consectetur
                                            adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla.
                                            Nullam quis
                                            risus eget urna mollis ornare vel eu leo.</p>
                                        <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum
                                            nulla sed
                                            consectetur. Cras mattis consectetur purus sit amet fermentum.</p>

                                        <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit
                                            amet, consectetur
                                            adipiscing elit. Donec ullamcorper nulla non metus auctor
                                            fringilla. Nullam quis
                                            risus eget urna mollis ornare vel eu leo.</p>

                                        <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia
                                            bibendum nulla sed
                                            consectetur. Cras mattis consectetur purus sit amet fermentum.
                                        </p>
                                        <p><a href="#" class="link--more">Read More</a></p>
                                </div>

                            </div>
                        </div>
                        <div class="milestone">
                            <div class="row">
                                <div class="col offset-md-1 right carousel order-md-last">
                                    <div class="background-image"
                                        style="background-image: url('https://picsum.photos/id/100/2100/2000');">

                                        <div class="carousel trigger" data-toggle="modal"
                                            data-target="#timeline--modal--carousel" data-src='[
                                            "https://picsum.photos/id/100/2100/1024",
                                            "https://picsum.photos/id/1000/2100/1024",
                                            "https://picsum.photos/id/1011/2100/1024"
                                            ]'>
                                            <img src="https://picsum.photos/id/100/2100/2000" class="img-fluid w-100" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-5 order-md-first">
                                    <h2>2020 - Jan -- Title goes here</h2>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a velit sem.
                                    </h3>
                                    <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis
                                        risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed
                                        consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
                                    <p><a href="#" class="link--more">Read More</a></p>
                                </div>

                            </div>
                        </div>
                        <div class="milestone">
                            <div class="row">
                                <div class="col offset-md-1 right expand order-md-last">
                                    <div class="background-image"
                                        style="background-image: url('https://picsum.photos/id/1000/2100/2000');">
                                        <img src="https://picsum.photos/id/1000/2100/2000" class="img-fluid w-100" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-5 order-md-first">
                                    <h2>2018 Title goes here</h2>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a velit sem.
                                    </h3>
                                    <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis
                                        risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed
                                        consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
                                    <p><a href="#" class="link--more">Read More</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="milestone">
                            <div class="row">
                                <div class="col offset-md-1 right expand order-md-last">
                                    <div class="background-image"
                                        style="background-image: url('https://picsum.photos/id/1011/2100/2000');">
                                        <img src="https://picsum.photos/id/1011/2100/2000" class="img-fluid w-100" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-5 order-md-first">
                                    <h2>2017 Title goes here</h2>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a velit sem.
                                    </h3>
                                    <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis
                                        risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed
                                        consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
                                    <p><a href="#" class="link--more">Read More</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="milestone">
                            <div class="row">
                                <div class="col offset-md-1 right expand order-md-last">
                                    <div class="background-image"
                                        style="background-image: url('https://picsum.photos/id/1018/2100/2000');">
                                        <img src="https://picsum.photos/id/1018/2100/2000" class="img-fluid w-100" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-5 order-md-first">
                                    <h2>2016 Title goes here</h2>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a velit sem.
                                    </h3>
                                    <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis
                                        risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed
                                        consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
                                    <p><a href="#" class="link--more">Read More</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="milestone">
                            <div class="row">
                                <div class="col offset-md-1 right expand order-md-last">
                                    <div class="background-image"
                                        style="background-image: url('https://picsum.photos/id/1020/2100/2000');">
                                        <img src="https://picsum.photos/id/1020/2100/2000" class="img-fluid w-100" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-5 order-md-first">
                                    <h2>2015 Title goes here</h2>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a velit sem.
                                    </h3>
                                    <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis
                                        risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed
                                        consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
                                    <p><a href="#" class="link--more">Read More</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="milestone">
                            <div class="row">
                                <div class="col offset-md-1 right expand order-md-last">
                                    <div class="background-image"
                                        style="background-image: url('https://picsum.photos/id/1025/2100/2000');">
                                        <img src="https://picsum.photos/id/1025/2100/2000" class="img-fluid w-100" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-5 order-md-first">
                                    <h2>2014 Title goes here</h2>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a velit sem.
                                    </h3>
                                    <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis
                                        risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed
                                        consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
                                    <p><a href="#" class="link--more">Read More</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="milestone">
                            <div class="row">
                                <div class="col offset-md-1 right expand order-md-last">
                                    <div class="background-image"
                                        style="background-image: url('https://picsum.photos/id/1026/2100/2000');">
                                        <img src="https://picsum.photos/id/1026/2100/2000" class="img-fluid w-100" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-5 order-md-first">
                                    <h2>2013 Title goes here</h2>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a velit sem.
                                    </h3>
                                    <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis
                                        risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed
                                        consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
                                    <p><a href="#" class="link--more">Read More</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="milestone">
                            <div class="row">
                                <div class="col offset-md-1 right expand order-md-last">
                                    <div class="background-image"
                                        style="background-image: url('https://picsum.photos/id/1032/2100/2000');">
                                        <img src="https://picsum.photos/id/1032/2100/2000" class="img-fluid w-100" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-5 order-md-first">
                                    <h2>2012 Title goes here</h2>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a velit sem.
                                    </h3>
                                    <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis
                                        risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed
                                        consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
                                    <p><a href="#" class="link--more">Read More</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="milestone">
                            <div class="row">
                                <div class="col offset-md-1 right expand order-md-last">
                                    <div class="background-image"
                                        style="background-image: url('https://picsum.photos/id/1041/2100/2000');">
                                        <img src="https://picsum.photos/id/1041/2100/2000" class="img-fluid w-100" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-5 order-md-first">
                                    <h2>2011 Title goes here</h2>
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a velit sem.
                                    </h3>
                                    <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis
                                        risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed
                                        consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
                                    <p><a href="#" class="link--more">Read More</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


    <!-- Modal -- Video -->
    <div class="modal fade" id="timeline--modal--video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">

                <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                        allow="autoplay"></iframe>

                </div>

            </div>
        </div>
    </div>


    <!-- Modal -- Carousel -->
    <div class="modal fade" id="timeline--modal--carousel" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div id="timeline--carousel" class="carousel slide carousel-fade" data-ride="carousel"
                        data-touch="true">
                        <ol class="carousel-indicators">

                        </ol>
                        <div class="carousel-inner">

                        </div>
                        <a class="carousel-control-prev" href="#timeline--carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#timeline--carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>

</article>

<script>
    var $j = jQuery.noConflict();
    $j(document).ready(function () {
        // Video Modal open
        $j('.video.trigger').on('click touchend', function () {
            let videoSrc = $j(this).data('src');

            // console.log(videoSrc);
            $j('#timeline--modal--video').on('shown.bs.modal', function (e) {

                // set the video src to autoplay and not to show related video. 
                // Youtube related video is like a box of chocolates... you never know what you're gonna get
                $j('#video').attr('src', videoSrc +
                    '?autoplay=1&amp;modestbranding=1&amp;showinfo=0'
                ); // These may need changing
            });
        });

        // Video modal close
        $j('#timeline--modal--video').on('hide.bs.modal', function (e) {
            // a poor man's stop video
            $j('#video').attr('src', ''); // stop the video by removing it
        });

        // Image carousel open
        $j('.carousel.trigger').on('click touchend', function () {
            $j(this).addClass('active');

            let carouselSrc = $j(this).data('src'),
                carouselSrcArray = carouselSrc, // Pass it across
                i = 0, // for iterations
                active = ''; // for active class on first

            // console.log('Clicked carouselSrc = ' + carouselSrc);
            // console.log('Clicked carouselSrc.length = ' + carouselSrc.length);
            // console.log(carouselSrc);
            // console.log(carouselSrc.length);

            // For each on the array
            carouselSrcArray.forEach(function (item, index, array) {
                // console.log(item, index);
                // console.log('i = ' + i);

                // If this is the first one, set it to active
                if (i == 0) {
                    active = 'active';
                }

                // Create the indicators
                $j('#timeline--modal--carousel').find(
                        '.carousel-indicators')
                    .append(
                        '<li data-target="#timeline--carousel" data-slide-to="' +
                        i +
                        '" class="' + active + '"></li>');

                // Create the images for the carousel
                $j('#timeline--modal--carousel').find('.carousel-inner')
                    .append(
                        '<div class="carousel-item ' + active +
                        '"><img src="' +
                        item +
                        '" class="d-block w-100"></div>');

                // set vars for next in the loop
                i++;
                active = '';
            });
        });

        // Image carousel close
        $j('#timeline--modal--carousel').on('hide.bs.modal', function (e) {

            $j('.carousel-indicators li, .carousel-inner .carousel-item', this)
                .remove(); // remove items
            $j('.carousel.trigger.active').removeClass('active');
        });


        // Only do the magic stuff IF on a tablet or desktop
        if (window.matchMedia("(min-width:767px)").matches) {
            let stickyTop = 700,
                scrollTarget = false,
                timeline = $j('.timeline--nav'),
                items = $j('li', timeline),
                milestones = $j('.timeline--section .milestone'),
                offsetTop = parseInt(timeline.css('top'));

            const TIMELINE_VALUES = {
                start: 280, // Offset the timeline nav from the top
                step: 30 // How much to move the timeline nav up when pressed
            };


            // On pressing or mouseover the milestone image, make it grow & shrink the other bits (desktop & mobile)
            $j('.right.expand').on('click touchend', function () {

                if ($j(this).hasClass('grow')) {
                    $j(this).removeClass('grow');
                    $j(this).closest('.milestone').find('.col-md-5').removeClass('shrink');
                    $j('.header').removeClass('shrink');
                } else { // For pressing the second time, reverse it
                    $j(this).addClass('grow');
                    $j(this).closest('.milestone').find('.col-md-5').addClass('shrink');
                    $j('.header').addClass('shrink');
                }
            });
            // On mouseleave the milestone image, make it shrink back (desktop)
            $j('.right.grow').on('click touchend', function () {
                $j(this).removeClass('grow');
                $j(this).closest('.milestone').find('.col-md-5').removeClass('shrink');
                $j('.header').removeClass('shrink');
            });

            $j(window).resize(function () {
                timeline.removeClass('fixed');

                stickyTop = timeline.offset().top - offsetTop;

                $j(window).trigger('scroll');
            }).trigger('resize');

            $j(window).scroll(function () {
                if ($j(window).scrollTop() > stickyTop) {
                    timeline.addClass('fixed');
                } else {
                    timeline.removeClass('fixed');
                }
            }).trigger('scroll');

            items.find('span').click(function () {
                let li = $j(this).parent(),
                    index = li.index(),
                    milestone = milestones.eq(index);

                if (!li.hasClass('active') && milestone.length) {
                    scrollTarget = index;

                    let scrollTargetTop = milestone.offset().top;

                    $j('html, body').animate({
                        scrollTop: scrollTargetTop
                    }, {
                        duration: 400,
                        complete: function complete() {
                            scrollTarget = false;
                        }
                    });

                }
            });

            $j(window).scroll(function () {

                $j('.right').removeClass('grow');
                $j('.right').closest('.milestone').find('.col-md-5').removeClass('shrink');
                $j('.header').removeClass('shrink');


                let distance = $j('div.header').offset().top;

                // make the header scroll with the time line but not the other page content
                // when the timeline hits the top of the screen, change the position to fixed
                if ($j(this).scrollTop() >= distance) {
                    $j('.timeline .header, .timeline--nav').css('position', 'fixed');
                } else {
                    $j('.timeline .header, .timeline--nav').css('position', 'absolute');
                }


                let viewLine = $j(window).scrollTop() + $j(window).height() / 3,
                    active = -1;

                if (scrollTarget === false) {
                    milestones.each(function () {
                        if ($j(this).offset().top - viewLine > 0) {
                            return false;
                        }

                        active++;
                    });
                } else {
                    active = scrollTarget;
                }

                timeline.css('top', -1 * active * TIMELINE_VALUES.step + TIMELINE_VALUES.start +
                    'px');

                items.filter('.active').removeClass('active');

                items.eq(active != -1 ? active : 0).addClass('active');
            }).trigger('scroll');
        }
    });
</script>